<template>
	<div class='index-ui'>
		<location v-bind:current="current" v-bind:list="list" v-bind:route="route" v-bind:path="path"></location>
		<div class="list-table">
			<div class='table-box'>
				<table border="0" style="min-width:100%;width:auto;" class='table-main' cellspacing="1px" cellpadding="0">
				    <tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.style">
								<th :style="field.style">{{field.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{field.label}}</th>
					  		</template>
					    </template>
				    </tr>
			  		<template v-for="item,findex in items">
				  		<tr :class="{lineThrough:item.order_status==5}">
							<template v-for="field in fields">
						  		<template v-if="field.type == 'String'">
						  			<template v-if="item[field.field]">
						  				<td v-html="item[field.field]"></td>
						  			</template>
									<template v-else>
										<td>-</td>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'ChosenSelect'">
						   			<template v-if="checkNum(item[field.field]) || field.field == 'actions'">
										<template v-for="r in tableChose[field.field]">
											<template v-if="r.id == item[field.field]">
												<td v-html="r.name"></td>
											</template>
										</template>
									</template>
									<template v-else>
										<td >-</td>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'Image'">
						   			<td><i class="fa fa-image" @click="showImage(findex)" v-show="item[field.field].length > 0"></i></td>
						   		</template>
					   		</template>
				   		</tr>
			    	</template>
				</table>
			</div>
			<Lpage :totalCell="pages.totalCell" :pageSize="pages.pageSize" :currentPage="pages.currentPage" :showNum="pages.showNum" v-on:selectPage="pageSelect"></Lpage>
		</div>
<Ylook v-bind:items="showImages" v-bind:show="imageLookShow" v-on:showCallBack='checkLookShow'></Ylook>
</div>
</template>

<script type="text/javascript">
import location from "../templates/location";
import Lpage from "../templates/Lpage";
import Ylook from "../templates/Ylook";
	export default{
			components:{location,Lpage,Ylook},
			data(){
				return {
					current:"订单列表",
					route:"/log",
					list:[
						{
			     		name:'订单日志',
			     		route:"/log"
				     	}
					],
					path:"/order",
					fields:[],
					items:[],
					tableChose:{},
					queryData:{},
					pages:{},
					imageLookShow:false,
					order_no:"",
					showImages:[]
				}
			},
			mounted:function(){
				this.order_no = this.$route.params.orderno;
				var This =this;
			    var url = this.baseHost+"/order-log/index?access_token="+this.readStorageItem('token')+"&order_no="+this.order_no;
			        this.$http.get(url,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.items;
			                This.tableChose = result.data.tableChose;
			                This.fields = result.data.fields;
			                This.pages = result.data.pages;
							This.$set(This.queryData,"page",1);
			            }
			        },
			        error=>{
			        
			        });
			},
			methods:{
				pageSelect:function(event){
					var page = event.page;
			    	this.queryData.page = page;
			        this.updatePageItem();
				},
				updatePageItem:function(){
					var This =this;
					var url = this.formatUrl('page');
					this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.list;
			                This.pages.totalCell = result.data.totalCell;
			                This.pages.currentPage = ""+This.queryData.page;
			            }
			        },
			        error=>{
			        
			        });
				},
				formatUrl:function(action){
		        	return this.baseHost+"/order-log/"+action+"?access_token="+this.readStorageItem('token')+"&order_no="+this.order_no;     
		    	},
				showImage:function(index){
					if(this.items[index].images.length > 0){
						this.showImages =this.items[index].images;
						this.imageLookShow = true;
					}
				},
				checkLookShow:function(){
					this.imageLookShow = false;
				},
			}
	}

</script>
