<template>
	<div class='index-ui'>
		<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>

		<div class="list-table">
			<template v-if="controller.action && contains(controller.action,'create')">
				<div class="role-add-btn" @click='addItem'><span><i class="fa fa-plus"></i>&nbsp;添加</span></div>
			</template>
			<div class='table-box'>
				<table border="0" style="min-width:100%;width:auto;" class='table-main' cellspacing="1px" cellpadding="0">
				  	<tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.style">
								<th :style="field.style">{{field.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{field.label}}</th>
					  		</template>
					    </template>
					    <template v-if="controller.action">	
					    		<th>{{controller.label}}</th>
					   	</template>
				  	</tr>
				  	<tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.search">
					  			<template v-if="field.type == 'String'">
					  				<td><Yinput :name="field.field"  v-on:queryCallBack="queryCallBack" ></Yinput></td>
					  			</template>
					  			<template v-else-if="field.type == 'ChosenSelect'"> 
					  				<td><Ychosenselect :name="field.field" :options="tableChose[field.field]" v-on:queryCallBack="queryCallBack" ></Ychosenselect></td>
					  			</template>
					  			<template v-else-if="field.type == 'Switch'"> 
					  				<td>
					  					<template v-for="formitem in formFields">
											<template v-if='formitem.name == field.field'>
												<Yswitch :name="field.field" :options="formitem.options" v-on:queryCallBack="queryCallBack" ></Yswitch>
											</template>
										</template>
					  				</td>
					  			</template>
					  		</template>
					    	<template v-else>
					  			<td></td>
					  		</template>
					    </template>
					    <template v-if="controller.action">	
					    	<td></td>
						</template>
				  	</tr>
				  	<template v-for="item,findex in items">
				  		<tr :class="{lineThrough:item.order_status==5}">
							<template v-for="field in fields">
						  		<template v-if="field.type == 'String'">
								<td v-html="item[field.field]"></td>
						   		</template>
						   		<template v-else-if="field.type == 'Switch'">
									<template v-for="formitem in formFields">
										<template v-if='formitem.name == field.field'>
											<template v-for='opt in formitem.options'>
												<template v-if="opt.value == item[field.field]">
													<td v-html="opt.label"></td>
												</template>
											</template>
										</template>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'ChosenSelect'">
									<template v-for="r in tableChose[field.field]">
										<template v-if="r.id == item[field.field]">
											<td v-html="r.name"></td>
										</template>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'Image'">
						   			<td><i class="fa fa-image" @click="showImage(findex)" v-show="item[field.field].length > 0"></i></td>
						   		</template>
					   		</template>
					 	<!-- 控制 -->
					   		<template v-if="controller.action">
					   			<template v-if="controller.style">
									<td :style="controller.style">
									<template v-if='item.order_status != 5'>
										<span v-if="contains(controller.action,'order-detail/index')" @click="btnDetail(findex)" class='controller-btn-group controller-detail'>详情</span>
										<template v-if='item.pay_status == 2'>
											<template v-if='item.service_status == 1 || item.service_status == 3'>
											<span v-if="contains(controller.action,'play')" @click="btnService(findex)" class='controller-btn-group controller-service'><i class="fa fa fa-play"></i></span>
											</template>
											<template v-if='item.service_status == 2'>
											<span v-if="contains(controller.action,'pause')" @click="btnPause(findex)" class='controller-btn-group controller-service'><i class="fa fa-pause"></i></span>
											</template>
										</template>
										<template v-if="item.service_status != 5">
											<span v-if="contains(controller.action,'return')" @click="btnReturn(findex)" class='controller-btn-group controller-return'>转单</span>
											<span v-if="contains(controller.action,'redirect')" @click="btnRedirect(findex)" class='controller-btn-group controller-redirect'>转课</span>
								    		<span v-if="contains(controller.action,'update')" @click="btnUpdate(findex)" class='controller-btn-group controller-update'>修改</span>
								    		<template v-if="item.pay_status == 1">
											<span v-if="contains(controller.action,'delete')" @click="btnDelte(findex)" class='controller-btn-group controller-delete'>删除</span>
											</template>
										</template>
										<template v-else-if="item.service_status == 5">
											<span v-if="contains(controller.action,'push')" @click="btnPush(findex)" class='controller-btn-group controller-return'>提成</span>
										</template>
										<span v-if="contains(controller.action,'order-log/index')" @click="btnLog(findex)" class='controller-btn-group controller-detail'>查看日志</span>
									</template>
						    		</td>
						  		</template>
						  		<template v-else>
									<td>
									<template v-if='item.order_status != 5'>
										<span v-if="contains(controller.action,'order-detail/index')" @click="btnDetail(findex)" class='controller-btn-group controller-detail'>详情</span>
										<template v-if='item.pay_status == 2'>
											<template v-if='item.service_status == 1 || item.service_status == 3'>
											<span v-if="contains(controller.action,'play')" @click="btnService(findex)" class='controller-btn-group controller-service'><i class="fa fa fa-play"></i></span>
											</template>
											<template v-if='item.service_status == 2'>
											<span v-if="contains(controller.action,'pause')" @click="btnPause(findex)" class='controller-btn-group controller-service'><i class="fa fa-pause"></i></span>
											</template>
										</template>
										<template v-if="item.service_status != 5">
											<span v-if="contains(controller.action,'return')" @click="btnReturn(findex)" class='controller-btn-group controller-return'>转单</span>
											<span v-if="contains(controller.action,'redirect')" @click="btnRedirect(findex)" class='controller-btn-group controller-redirect'>转课</span>
								    		<span v-if="contains(controller.action,'update')" @click="btnUpdate(findex)" class='controller-btn-group controller-update'>修改</span>
								    		<template v-if="item.pay_status == 1">
											<span v-if="contains(controller.action,'delete')" @click="btnDelte(findex)" class='controller-btn-group controller-delete'>删除</span>
											</template>
										</template>
										<template v-else-if="item.service_status == 5">
											<span v-if="contains(controller.action,'push')" @click="btnReturn(findex)" class='controller-btn-group controller-return'>提成</span>
										</template>
										<span v-if="contains(controller.action,'order-log/index')" @click="btnLog(findex)" class='controller-btn-group controller-detail'>查看日志</span>
									</template>
						    		</td>
						  		</template>	
						   	</template>
						   	
				   		</tr>
				    </template>
				</table>
			</div>	
			<Lpage :totalCell="pages.totalCell" :pageSize="pages.pageSize" :currentPage="pages.currentPage" :showNum="pages.showNum" v-on:selectPage="pageSelect"></Lpage>
		</div>
<!--添加 -->
<div class='form-main-shade' v-show="isShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>{{ addLabel }}<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
					<template v-for="form in formFields">
						<template v-if="form.type == 'ChosenSelect'">
							<Lchosenselect v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:options="formChose[form.name]" v-bind:show="isShow"></Lchosenselect>
						</template>
						<template v-if="form.type == 'String' || form.type == 'Password'">
							<Linput v-bind:label="form.label" v-bind:type="form.type" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:show="isShow"></Linput>
						</template>
						<template v-if="form.type == 'Switch'">
							<Lswitch v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:options="form.options" v-bind:show="isShow"></Lswitch>
						</template>
						<template v-if="form.type == 'DateTime'">
							<template v-if="form.name == 'pay_end_time'">
								<div class='form-group' v-show="showTime">
								<label class="form-group-label">{{form.label}}</label>
								<div class="form-group-div">
								<datetime bind:width="300px" v-bind:showed="isShow" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack">
      							</datetime>
								</div>
							</div>
							</template>
							<template v-else>
								<div class='form-group'>
								<label class="form-group-label">{{form.label}}</label>
								<div class="form-group-div">
								<datetime bind:width="300px" v-bind:showed="isShow" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack">
      							</datetime>
								</div>
								</div>
							</template>
						</template>
						<template v-if="form.type == 'Ratio'">
							<div class='form-group' v-show='incomeShow'>
								<label class="form-group-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<div class="form-group-div">
									<label v-for="o in form.options" class='income-ratio-label'>{{o.label}}<input :name="o.name" v-model="o.value" class='income-ratio-input'/></label>
								</div>
							</div>
						</template>
						<template v-if="form.type == 'Image'">
							<LuploadImage v-bind:show="isShow" v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack"></LuploadImage>
						</template>
					</template>

				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
</div>
<!-- 转单 -->
<div class='form-main-shade' v-show="returnShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>转单<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
			<template v-for="form in formFields">
				<template v-if="form.type == 'ChosenSelect' && form.name=='belong_sale_id' ">
					<Lchosenselect v-bind:label="returnLabel" v-bind:name="form.name" v-bind:value="returnValue" v-on:callInput="callReturnBack" v-bind:rules="form.rules" v-bind:options="formChose[form.name]" v-bind:show="returnShow"></Lchosenselect>
				</template>
			</template>
				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formReturnSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
</div>
<!-- 转课 -->
<div class='form-main-shade' v-show="redirectShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>转课<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
			<template v-for="form in formFields">
				<template v-if="form.type == 'ChosenSelect' && contains(['belong_sale_id','course_id','source_id','payment_id'],form.name)">
					<Lchosenselect v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:options="formChose[form.name]" v-bind:show="redirectShow"></Lchosenselect>
				</template>
				<template v-if="form.type == 'String' && contains(['title','sale_price','coupon','sale_wechat_no','remark'],form.name)">
							<Linput v-bind:label="form.label" v-bind:type="form.type" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:show="redirectShow"></Linput>
				</template>
				<template v-if="form.type == 'Switch' && contains(['payment_type'],form.name)">
							<Lswitch v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:options="form.options" v-bind:show="redirectShow"></Lswitch>
				</template>
				<template v-if="form.type == 'DateTime'">
					<template v-if="form.name == 'pay_end_time'">
						<div class='form-group' v-show="showTime">
							<label class="form-group-label">{{form.label}}</label>
							<div class="form-group-div">
							<datetime bind:width="300px" bind:showed="redirectShow" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack">
      						</datetime>
							</div>
						</div>
					</template>
				</template>
				<template v-if="form.type == 'Image'">
							<LuploadImage v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:show="redirectShow"></LuploadImage>
				</template>
			</template>
				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formRedirectSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
</div>

<!-- 提成 -->
<div class='form-main-shade' v-show="isPushShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>提成<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
					<Linput v-bind:label="push_label"  v-bind:name="push_name" v-bind:value="push_money" v-on:callInput="callBackPushMoney"  v-bind:show="isPushShow"></Linput>
				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formPushSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
</div>
<Ylook v-bind:items="showImages" v-bind:show="imageLookShow" v-on:showCallBack='checkLookShow'></Ylook>
</div>
</template>

<script type="text/javascript">
import location from "../templates/location";
import Linput from "../templates/Linput";
import Yinput from "../templates/Yinput";
import Lswitch from "../templates/Lswitch";
import Yswitch from "../templates/Yswitch";
import Lchosenselect from "../templates/Lchosenselect";
import Ychosenselect from "../templates/Ychosenselect";
import Lpage from "../templates/Lpage";
import datetime from "../templates/LDateTime";
import LuploadImage from "../templates/LuploadImage";
import Ylook from "../templates/Ylook";
	export default{
			components:{location,Linput,Yinput,Lswitch,Yswitch,Lchosenselect,Ychosenselect,Lpage,datetime,LuploadImage,Ylook},
			data(){
				return {
					topNode:"",
					route:"/order",
					list:[],
					push_label:"提成:",
					push_name:"push_money",
					fields:[],
					controller:{},
					items:[],
					roles:[],
					id:0,
					redirectId:0,
					choseItem:-1,
					isShow:false,
					returnLabel:"选择销售",
					returnValue:"",
					returnShow:false,
					autoHidden:true,
					redirectShow:false,
					tableChose:{},
					formChose:{},
					error:"",
					formFields:[],
					formData:{},
					queryData:{},
					addLabel:"",
					pages:{},
					showTime:false,
					showImages:[],
					imageLookShow:false,
					push_money:'0',
					isPushShow:false,
				}
			},
			created:function(){
			 	var prefix = "order";
		    	var key = prefix+"_list";
		        if(this.readStorageItem(key)){
		            var node = JSON.parse(this.readStorageItem(key));
		            this.list = node.list;
		            this.topNode = node.topNode;
		        }else{
		            var This =this;
		            var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
		            this.$http.get(url,{emulateJSON:true})
		                .then(
		                    success=>{
		                        var result = success.body;
		                        result = this.formatData(result);
		                        if(result.status){
		                            This.list = result.data.list;
		                            This.topNode = result.data.topNode;
		                            if(This.list.length > 0){
		                                This.writeStorageItem(key,JSON.stringify(result.data));
		                            }
		                        }
		                    },
		                    error=>{});
		        }
		  	},
			mounted:function(){
				var This =this;
			    var url = this.baseHost+"/order/index?access_token="+this.readStorageItem('token');
			        this.$http.get(url,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.formFields = result.data.formFields;
			                This.items =result.data.items;
			                This.formChose = result.data.formChose;
			                This.tableChose = result.data.tableChose;
			                This.controller = result.data.controller;
			                This.fields = result.data.fields;
			                This.pages = result.data.pages;
			                for (var i = 0; i < This.formFields.length; i++) {
								var field = This.formFields[i];
								This.$set(This.formData,field.name,field.value);
							};

							for(var i = 0;i < This.fields.length;i++){
								var field = This.fields[i];
								if(field.search){
									switch(field.type){
										case "String":
										This.$set(This.queryData,field.field,"");
										break;
										case "Switch":
										This.$set(This.queryData,field.field,-1);
										break;
									}
									
								}
							}
							This.$set(This.queryData,"page",1);
			            }
			        },
			        error=>{
			        
			        });
			       

			},
			methods:{
				callBack:function(event){
						if(event.field == 'error'){
							this.showMessage(event.message);
							return false;
						}
						if(event.field == "payment_type"){
							if(event.value == 3){
								this.showTime = true;
							}else{
								this.showTime = false;
							}
						}
					this.formData[event.field] = event.value;

				},
				queryCallBack:function(event){
					this.queryData[event.field] = event.value;
					this.queryData.page = 1;
					this.updatePageItem();
				},
				addItem:function(){
					for (var i = 0; i < this.formFields.length; i++) {
						var field = this.formFields[i];
						switch(field.type){
							case "Auto":
							case "String":
							case "Password":
								this.formFields[i].value = "";
								this.formData[field.name] = "";
								break;
							case "ChosenSelect":
								this.formFields[i].value = 0;
								this.formData[field.name] = 0;
								break;
							case "Switch":
								this.formFields[i].value = 0;
								this.formData[field.name] = 0;
								break;
							case "Image":
								this.formFields[i].value = [];
								this.formData[field.name] = [];
								break;
						}
					};
					this.id = 0;
					this.choseItem = -1;
					this.isShow = true;
					this.addLabel = "添加";
				},
				shadeClose:function(){
					this.isShow = false;	
					this.returnShow = false;
					this.redirectShow = false;
					this.id = 0;
					this.redirectId = 0;
					this.choseItem = -1;
					this.isPushShow = false;	
					this.push_money = 0;	
				},
				formSubmit:function(){
						for(var i = 0;i < this.formFields.length;i++){
							var field = this.formFields[i];
							switch(field.type){
								case "String":
									if(field.hasOwnProperty('rules')){
										if(field.rules.hasOwnProperty("required") && field.rules.required){
											if(!this.formData[field.name]){
												this.showMessage(field.label + "不能为空!");
												return false;
											}
										}
										if(field.rules.hasOwnProperty("number")){
											if(!/^\d+(?=\.{0,1}\d+$|$)/.test(this.formData[field.name])){
												this.showMessage(field.label + "必须为数字!");
												return false;
											}
										}
									}
								break;
								case 'ChosenSelect':
									if(field.hasOwnProperty('rules')){
										if(field.rules.hasOwnProperty("required") && field.rules.required){
											if(!this.formData[field.name]){
												this.showMessage(field.label + "必须选择!");
												return false;
											}
										}
									}
								break;
								case 'Ratio':
									if(this.formData.income_status == 2){
										for (var j = 0; j < field.options.length; j++) {
											var option= field.options[j];
											if(option.value < 0 || option.value > 1){
												this.showMessage(option.label + "比例错误,不能大小1,小于0！");
												return false;
											}
										};
										for (var j = 0; j < field.options.length; j++) {
											var option= field.options[j];
											this.formData[field.name][option.name] = option.value;
										};
									}
								break;
							}
						}
						var This =this;
						var url = this.formatUrl('create');
						var formData = this.formData;
						if(this.id > 0){
							url = this.formatUrl('update');
							formData['id'] = this.id;
						}
						if(this.redirectId > 0){
							url = this.formatUrl('redirect');
							formData['id'] = this.redirectId;
						}
						this.$http.post(url,formData,{emulateJSON:true})
						.then(success=>{
								var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.isShow = false;
					            	if(This.id > 0){//修改
					            		This.items[This.choseItem] = result.data;
										This.id = 0;
										This.choseItem = -1;
					            	}else{//添加
					            		This.redirectId = 0;
										This.items = result.data;
					            	}
					            }else{
					            	This.showMessage(result.message);
					            }
					            
							},
							error=>{});

				},
				btnUpdate:function(index){
					this.addLabel = "修改";
					var data = this.items[index];
					this.choseItem = index;
					for (var i = 0; i < this.formFields.length; i++) {
						var fields = this.formFields[i];
						switch(fields.type){
							case "ChosenSelect":
							case "Switch":
								this.formFields[i].value = parseInt(data[fields.name]);
								this.formData[fields.name] = parseInt(data[fields.name]);
								break;
							case "Auto":
							case "String":
							case "DateTime":
								this.formFields[i].value = ""+data[fields.name];
								this.formData[fields.name] = data[fields.name];
								break;
							case "Password":
								this.formData[fields.name] = "";
								break;
							case "Image":
								this.formFields[i].value = data[fields.name];
								this.formData[fields.name] = data[fields.name];
								break;
							
						}
						if(fields.name == "payment_type" && parseInt(data[fields.name]) == 3){
							this.showTime = true;
						}else{
							this.showTime = false;
						}	
					};
					console.log(this.formFields);
					this.isShow = true;
					this.id = data.id;
				},
				btnDelte:function(index){
					if(window.confirm("你确定要删除该数据?")){
					var This = this;
					var item = this.items[index];
					var url = this.formatUrl('delete');
					this.$http.post(url,{id:item.id},{emulateJSON:true})
					.then(success=>{
							var result = success.body;
				            result = this.formatData(result);
				            if(result.status){
				            	This.items.splice(index,1);
				            }else{
				            	alert(result.message);
				            }
				            
						},
						error=>{});
					}
				},
				pageSelect:function(event){
					var page = event.page;
			    	this.queryData.page = page;
			        this.updatePageItem();
				},
				updatePageItem:function(){
					var This =this;
					var url = this.formatUrl('page');
					this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.list;
			                This.pages.totalCell = result.data.totalCell;
			                This.pages.currentPage = ""+This.queryData.page;
			            }
			        },
			        error=>{
			        
			        });
				},
				formatUrl:function(action){
		        	return this.baseHost+"/order/"+action+"?access_token="+this.readStorageItem('token');     
		    	},
				showMessage:function(error){
					this.error = error;
					var This = this;
					setTimeout(function(){
						This.error="";
					},3000);
				},
				btnDetail:function(index){
					var data = this.items[index];
					this.$router.push({name:"order-detail",params:{orderno:data.order_no}});
				},
				btnReturn:function(index){
					var data = this.items[index];
					this.id = data.id;
					this.returnValue = data.belong_sale_id;
					this.returnShow = true;
				},
				callReturnBack:function(event){
					this.returnValue = event.value;
				},
				formReturnSubmit:function(){
					var This =this;
					if(!this.returnValue){
						this.showMessage("选择销售");
						return false;
					}
					var url = this.formatUrl('return');
					var formData = {"belong_sale_id":this.returnValue,'id':this.id};
					this.$http.post(url,formData,{emulateJSON:true})
						.then(success=>{
							var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.returnShow = false;
					            	This.id = 0;
					            	This.items = result.data;
					            }else{
					            	This.showMessage(result.message);
					            }
					            
						},
						error=>{});

				},
				btnRedirect:function(index){
					var data = this.items[index];
					for (var i = 0; i < this.formFields.length; i++) {
						var field = this.formFields[i];
						switch(field.type){
							case "Auto":
							case "String":
							case "Password":
								this.formFields[i].value = "";
								this.formData[field.name] = "";
								break;
							case "ChosenSelect":
								this.formFields[i].value = 0;
								this.formData[field.name] = 0;
								break;
							case "Switch":
								this.formFields[i].value = 0;
								this.formData[field.name] = 0;
								break;
							case "Image":
								this.formFields[i].value = [];
								this.formData[field.name] = [];
								break;
						}
					};
					this.redirectId = data.id;
					this.redirectShow = true;
				},
				formRedirectSubmit:function(){
					var arr = ['belong_sale_id','course_id','source_id','payment_id','title','sale_price','coupon','sale_wechat_no','remark','payment_type','pay_end_time','images'];
						for(var i = 0;i < this.formFields.length;i++){
							var field = this.formFields[i];
							if(this.contains(arr,field.name)){
								switch(field.type){
									case "String":
										if(field.hasOwnProperty('rules')){
											if(field.rules.hasOwnProperty("required") && field.rules.required){
												if(!this.formData[field.name]){
													this.showMessage(field.label + "不能为空!");
													return false;
												}
											}
											if(field.rules.hasOwnProperty("number")){
												if(!/^\d+(?=\.{0,1}\d+$|$)/.test(this.formData[field.name])){
													this.showMessage(field.label + "必须为数字!");
													return false;
												}
											}
										}
									break;
									case 'ChosenSelect':
										if(field.hasOwnProperty('rules')){
											if(field.rules.hasOwnProperty("required") && field.rules.required){
												if(!this.formData[field.name]){
													this.showMessage(field.label + "必须选择!");
													return false;
												}
											}
										}
									break;
								}
							}
						}
						var formData = {};
						for(var i = 0;i < this.formFields.length;i++){
							var field = this.formFields[i];
							if(this.contains(arr,field.name)){
								formData[field.name] = this.formData[field.name];
							}
						}
					formData['id'] = this.redirectId;
					var url = this.formatUrl('redirect');
					var This =this;
					this.$http.post(url,formData,{emulateJSON:true})
						.then(success=>{
							var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.returnShow = false;
					            	This.id = 0;
					            	This.items = result.data;
					            }else{
					            	This.showMessage(result.message);
					            }
					            
						},
						error=>{});
				},
				btnService:function(index){
					var data = this.items[index];
					var url = this.formatUrl('play');
					var This =this;
					this.$http.post(url,{"id":data.id},{emulateJSON:true})
						.then(success=>{
							var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.items[index].service_status = result.data;
					            }else{
					            	alert(result.message);
					            }
					            
						},
						error=>{});
				},
				btnPause:function(index){
					var data = this.items[index];
					var url = this.formatUrl('pause');
					var This =this;
					this.$http.post(url,{"id":data.id},{emulateJSON:true})
						.then(success=>{
							var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.items[index].service_status = result.data;
					            }else{
					            	alert(result.message);
					            }
					            
						},
						error=>{});
				},
				showImage:function(index){
					this.showImages =this.items[index].images;
					this.imageLookShow = true;
				},
				checkLookShow:function(){
					this.imageLookShow = false;
				},
				btnPush:function(index){
					this.push_money = this.items[index].push_money;
					this.isPushShow = true;
					this.choseItem = index;
				},
				callBackPushMoney:function(event){
					this.push_money = event.value;
				},
				formPushSubmit:function(){
					if(this.items[this.choseItem].push_money == this.push_money){
						this.shadeClose();
						return false;
					}
					if(parseInt(this.push_money) <= 0){
						this.shadeClose();
						return false;
					}
					var url = this.formatUrl('push');
					var data= {'id':this.items[this.choseItem].id,'push_money':this.push_money};
					var This = this;
					this.$http.post(url,data,{emulateJSON:true})
						.then(success=>{
							var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.items[This.choseItem].push_money = result.data;
					            }else{
					            	alert(result.message);
					            }
					            This.shadeClose();
					            
						},
						error=>{});
				},
				btnLog:function(index){
					var data = this.items[index];
					this.$router.push({name:"log",params:{orderno:data.order_no}});
				}
				
			}
	}

</script>
