<template>
	<div class='index-ui'>
		<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>
		<div class="list-table">
			<div class='table-box'>
				<table border="0" width="100%" class='table-main' cellspacing="1px" cellpadding="0">
				  	<tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.style">
								<th :style="field.style">{{field.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{field.label}}</th>
					  		</template>
					    	
					    </template>
					    <template v-if="controller.action">	
					    	<template v-if="controller.style">
								<th :style="controller.style">{{controller.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{controller.label}}</th>
					  		</template>
					   	</template>
				  	</tr>
				  	<tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.search">
					  			<template v-if="field.type == 'String'">
					  				<td><Yinput :name="field.field"  v-on:queryCallBack="queryCallBack" ></Yinput></td>
					  			</template>
					  			<template v-else-if="field.type == 'ChosenSelect'"> 
					  				<td><Ychosenselect :name="field.field" :options="tableChose[field.field]" v-on:queryCallBack="queryCallBack" ></Ychosenselect></td>
					  			</template>
					  			<template v-else-if="field.type == 'Switch'"> 
					  				<td>
					  					<template v-for="formitem in formFields">
											<template v-if='formitem.name == field.field'>
												<Yswitch :name="field.field" :options="formitem.options" v-on:queryCallBack="queryCallBack" ></Yswitch>
											</template>
										</template>
					  				</td>
					  			</template>
					  		</template>
					    	<template v-else>
					  			<td></td>
					  		</template>
					    </template>
					    <template v-if="controller.action">	
				    		<td></td>
				    	</template>
				 	</tr>
				  	<template v-for="item,findex in items">
				  		<tr>
							<template v-for="field in fields">
						  		<template v-if="field.type == 'String'">
								<td v-html="item[field.field]"></td>
						   		</template>
						   		<template v-else-if="field.type == 'Switch'">
									<template v-for="formitem in formFields">
										<template v-if='formitem.name == field.field'>
											<template v-for='opt in formitem.options'>
												<template v-if="opt.value == item[field.field]">
													<td v-html="opt.label"></td>
												</template>
											</template>
										</template>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'ChosenSelect'">
									<template v-for="r in tableChose[field.field]">
										<template v-if="r.id == item[field.field]">
											<td v-html="r.name"></td>
										</template>
									</template>
						   		</template>

						   		<template v-else-if="field.type == 'Process'">
						   			<template v-if="field.field == 'big_process'">
						   				<td><process v-bind:maxProcess="item.duration"  v-bind:currentProcess="item[field.field]" ></process></td>
						   			</template>
						   			<template v-else-if="field.field == 'small_process'">
						   				<td><process v-bind:maxProcess="item.small_duration"  v-bind:currentProcess="item[field.field]" ></process></td>
						   			</template>
						   		</template>
					   		</template>
					   		<template v-if="controller.action">
						    	<td style="display:inline-block;white-space:nowrap">
						    		<span v-if="contains(controller.action,'add-card')" @click="btnCard(findex)" class='controller-btn-group controller-card'>打卡</span>
						    		<span v-if="contains(controller.action,'add-log')" @click="btnAdd(findex)" class='controller-btn-group controller-update'>添加日志</span>
									<span v-if="contains(controller.action,'course-service-log/index')" @click="btnLog(findex)" class='controller-btn-group controller-delete'>查看日志</span>
						    	</td>
						   	</template>
				   		</tr>
				    </template>
				</table>
			</div>
			<Lpage :totalCell="pages.totalCell" :pageSize="pages.pageSize" :currentPage="pages.currentPage" :showNum="pages.showNum" v-on:selectPage="pageSelect"></Lpage>
		</div>
<div class='form-main-shade' v-show="isShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>{{ addLabel }}<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
					<template v-for="form in formFields">
						<template v-if="form.type == 'String'">
							<Linput v-bind:label="form.label" v-bind:type="form.type" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:show="isShow"></Linput>
						</template>
					</template>
				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
	</div>
	</div>
</template>

<script type="text/javascript">
import location from "../templates/location";
import Linput from "../templates/Linput";
import Yinput from "../templates/Yinput";
import Lswitch from "../templates/Lswitch";
import Yswitch from "../templates/Yswitch";
import Lchosenselect from "../templates/Lchosenselect";
import Ychosenselect from "../templates/Ychosenselect";
import Lpage from "../templates/Lpage";
import process from '../templates/Gprocess'
	export default{
			components:{location,Linput,Yinput,Lswitch,Yswitch,Lchosenselect,Ychosenselect,Lpage,process},
			data(){
				return {
					topNode:"",
					route:"/course-service",
					list:[],
					fields:[],
					controller:{},
					items:[],
					id:0,
					choseItem:-1,
					isShow:false,
					autoHidden:true,
					error:"",
					formFields:[],
					formData:{},
					queryData:{},
					addLabel:"",
					pages:{},
					tableChose:{},
					formChose:{},
				}
			},
			created:function(){
			 	var prefix = "course";
		    	var key = prefix+"_list";
		        if(this.readStorageItem(key)){
		            var node = JSON.parse(this.readStorageItem(key));
		            this.list = node.list;
		            this.topNode = node.topNode;
		        }else{
		            var This =this;
		            var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
		            this.$http.get(url,{emulateJSON:true})
		                .then(
		                    success=>{
		                        var result = success.body;
		                        result = this.formatData(result);
		                        if(result.status){
		                            This.list = result.data.list;
		                            This.topNode = result.data.topNode;
		                            if(This.list.length > 0){
										This.writeStorageItem(key,JSON.stringify(result.data));
		                            } 
		                        }
		                    },
		                    error=>{});
		        }
		  	},
			mounted:function(){
				var This =this;
			    var url = this.baseHost+"/course-service/index?access_token="+this.readStorageItem('token');
			        this.$http.get(url,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.formFields = result.data.formFields;
			                This.items =result.data.items;
			                This.controller = result.data.controller;
			                This.fields = result.data.fields;
			                This.pages = result.data.pages;
			                This.formChose = result.data.formChose;
			                This.tableChose = result.data.tableChose;
			                for (var i = 0; i < This.formFields.length; i++) {
								var field = This.formFields[i];
								This.$set(This.formData,field.name,field.value);
							};
							for(var i = 0;i < This.fields.length;i++){
								var field = This.fields[i];
								if(field.search){
									switch(field.type){
										case "String":
										This.$set(This.queryData,field.field,"");
										break;
										case "Switch":
										This.$set(This.queryData,field.field,-1);
										break;
									}
									
								}
							}
							This.$set(This.queryData,"page",1);
			            }
			        },
			        error=>{
			        
			        });
			       

			},
			methods:{
				callBack:function(event){
					if(event.field == 'error'){
						this.showMessage(event.message);
						return false;
					}
					this.formData[event.field] = event.value;
				},
				queryCallBack:function(event){
					this.queryData[event.field] = event.value;
					this.queryData.page = 1;
					this.updatePageItem();
				},
				btnAdd:function(index){
					this.choseItem = index;
					this.formFields[0].value= "";
					this.formData['remark'] = "";
					this.isShow = true;
					this.addLabel = "添加日志信息";
				},
				shadeClose:function(){
					this.isShow = false;	
					this.id = 0;
					this.choseItem = -1;		
				},
				formSubmit:function(){
					if(!this.formData['remark']){
						this.showMessage("备注日志不能为空!");
						return false;
					}
					var This =this;
						var url = this.formatUrl('add-log');
						var formData = this.formData;
						formData['id'] = this.items[this.choseItem].id;
						this.$http.post(url,formData,{emulateJSON:true})
						.then(success=>{
								var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.shadeClose();
					            }else{
					            	This.showMessage(result.message);
					            }
					            
							},
							error=>{});

				},
				btnLog:function(index){
					var data = this.items[index];
					this.$router.push({name:"course-service-log",params:{id:data.id}});
				},
				btnCard:function(index){
					if(window.confirm("你确定要给该学员打卡?")){
					var This = this;
					var item = this.items[index];
					var url = this.formatUrl('add-card');
						this.$http.post(url,{id:item.id},{emulateJSON:true})
						.then(success=>{
								var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.items[index].small_process = ""+result.data;
					            }else{
					            	alert(result.message);
					            }
							},
							error=>{});
					}
				},
				pageSelect:function(event){
					var page = event.page;
			    	this.queryData.page = page;
			        this.updatePageItem();
				},
				updatePageItem:function(){
					var This =this;
					var url = this.formatUrl('page');
					this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.list;
			                This.pages.totalCell = result.data.totalCell;
			                This.pages.currentPage = ""+This.queryData.page;
			            }
			        },
			        error=>{
			        
			        });
				},
				formatUrl:function(action){
		        	return this.baseHost+"/course-service/"+action+"?access_token="+this.readStorageItem('token');     
		    	},
				showMessage:function(error){
					this.error = error;
					var This = this;
					setTimeout(function(){
						This.error="";
					},3000);
				}
			}
	}

</script>
