<template>
	<div class='index-ui'>
		<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>
		<div class="list-table">
			<template v-if="controller.action && contains(controller.action,'create')">
				<div class="role-add-btn" @click='addItem'><span><i class="fa fa-plus"></i>&nbsp;添加</span></div>
			</template>
			<div class='table-box'>
				<table border="0" width="100%" class='table-main' cellspacing="1px" cellpadding="0">
				  	<tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.style">
								<th :style="field.style">{{field.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{field.label}}</th>
					  		</template>
					    	
					    </template>
					    <template v-if="controller.action">	
					    	<template v-if="controller.style">
								<th :style="controller.style">{{controller.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{controller.label}}</th>
					  		</template>
					   	</template>
				  	</tr>
				  	<tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.search">
					  			<template v-if="field.type == 'String'">
					  				<td><Yinput :name="field.field"  v-on:queryCallBack="queryCallBack" ></Yinput></td>
					  			</template>
					  			<template v-else-if="field.type == 'ChosenSelect'"> 
					  				<td><Ychosenselect :name="field.field" :options="roles" v-on:queryCallBack="queryCallBack" ></Ychosenselect></td>
					  			</template>
					  			<template v-else-if="field.type == 'Switch'"> 
					  				<td>
					  					<template v-for="formitem in formFields">
											<template v-if='formitem.name == field.field'>
												<Yswitch :name="field.field" :options="formitem.options" v-on:queryCallBack="queryCallBack" ></Yswitch>
											</template>
										</template>
					  				</td>
					  			</template>
					  		</template>
					    	<template v-else>
					  			<td></td>
					  		</template>
					    </template>
					    <template v-if="controller.action">	
					    	<td></td>
						</template>
				  	</tr>
				  	<template v-for="item,findex in items">
				  		<tr>
							<template v-for="field in fields">
						  		<template v-if="field.type == 'String'">
								<td v-html="item[field.field]"></td>
						   		</template>
						   		<template v-else-if="field.type == 'Switch'">
									<template v-for="formitem in formFields">
										<template v-if='formitem.name == field.field'>
											<template v-for='opt in formitem.options'>
												<template v-if="opt.value == item[field.field]">
													<td v-html="opt.label"></td>
												</template>
											</template>
										</template>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'ChosenSelect'">
									<template v-for="r in roles">
										<template v-if="r.id == item[field.field]">
											<td v-html="r.name"></td>
										</template>
									</template>
						   		</template>
					   		</template>
					   		<template v-if="controller.action">
						    	<td style="display:inline-block;white-space:nowrap">
						    		<span v-if="contains(controller.action,'update')" @click="btnUpdate(findex)" class='controller-btn-group controller-update'>修改</span>
									<span v-if="contains(controller.action,'delete')" @click="btnDelte(findex)" class='controller-btn-group controller-delete'>删除</span>
						    	</td>
						   	</template>
				   		</tr>
				    </template>
				</table>
			</div>
			<Lpage :totalCell="pages.totalCell" :pageSize="pages.pageSize" :currentPage="pages.currentPage" :showNum="pages.showNum" v-on:selectPage="pageSelect"></Lpage>
		</div>
<div class='form-main-shade' v-show="isShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>{{ addLabel }}<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
					<template v-for="form in formFields">
						<template v-if="form.type == 'ChosenSelect'">
							<Lchosenselect v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:options="roles" v-bind:show="isShow"></Lchosenselect>
						</template>
						<template v-if="form.type == 'String' || form.type == 'Password'">
							<Linput v-bind:label="form.label" v-bind:type="form.type" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:show="isShow"></Linput>
						</template>
						<template v-if="form.type == 'Auto'">
							<Linput v-bind:label="form.label" v-bind:value="form.value" v-bind:show="isShow" v-bind:readOnly="autoHidden"></Linput>
						</template>
						<template v-if="form.type == 'Switch'">
							<Lswitch v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:options="form.options" v-bind:show="isShow"></Lswitch>
						</template>
						<template v-if="form.type == 'Ratio'">
							<div class='form-group' v-show='incomeShow'>
								<label class="form-group-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<div class="form-group-div">
									<label v-for="o in form.options" class='income-ratio-label'>{{o.label}}<input :name="o.name" v-model="o.value" class='income-ratio-input'/></label>
								</div>
							</div>
						</template>
					</template>

				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
	</div>
	</div>
</template>

<script type="text/javascript">
import location from "../templates/location";
import Linput from "../templates/Linput";
import Yinput from "../templates/Yinput";
import Lswitch from "../templates/Lswitch";
import Yswitch from "../templates/Yswitch";
import Lchosenselect from "../templates/Lchosenselect";
import Ychosenselect from "../templates/Ychosenselect";
import Lpage from "../templates/Lpage";
	export default{
			components:{location,Linput,Yinput,Lswitch,Yswitch,Lchosenselect,Ychosenselect,Lpage},
			data(){
				return {
					topNode:"",
					route:"/course",
					list:[],
					fields:[],
					controller:{},
					items:[],
					roles:[],
					id:0,
					choseItem:-1,
					isShow:false,
					autoHidden:true,
					ratio:{},
					error:"",
					formFields:[],
					formData:{},
					queryData:{},
					addLabel:"",
					pages:{}
				}
			},
			created:function(){
			 	var prefix = "course";
		    	var key = prefix+"_list";
		        if(this.readStorageItem(key)){
		            var node = JSON.parse(this.readStorageItem(key));
		            this.list = node.list;
		            this.topNode = node.topNode;
		        }else{
		            var This =this;
		            var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
		            this.$http.get(url,{emulateJSON:true})
		                .then(
		                    success=>{
		                        var result = success.body;
		                        result = this.formatData(result);
		                        if(result.status){
		                            This.list = result.data.list;
		                            This.topNode = result.data.topNode;
		                            if(This.list.length > 0){
										This.writeStorageItem(key,JSON.stringify(result.data));
		                            } 
		                        }
		                    },
		                    error=>{});
		        }
		  	},
			mounted:function(){
				var This =this;
			    var url = this.baseHost+"/course/index?access_token="+this.readStorageItem('token');
			        this.$http.get(url,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.formFields = result.data.formFields;
			                This.items =result.data.items;
			                This.roles = result.data.roles;
			                This.ratio = result.data.ratio;
			                This.controller = result.data.controller;
			                This.fields = result.data.fields;
			                This.pages = result.data.pages;
			                for (var i = 0; i < This.formFields.length; i++) {
								var field = This.formFields[i];
								This.$set(This.formData,field.name,field.value);
							};
							for(var i = 0;i < This.fields.length;i++){
								var field = This.fields[i];
								if(field.search){
									switch(field.type){
										case "String":
										This.$set(This.queryData,field.field,"");
										break;
										case "Switch":
										This.$set(This.queryData,field.field,-1);
										break;
									}
									
								}
							}
							This.$set(This.queryData,"page",1);
			            }
			        },
			        error=>{
			        
			        });
			       

			},
			methods:{
				callBack:function(event){
					if(event.field == 'error'){
						this.showMessage(event.message);
						return false;
					}
					if(event.field == "total_price"){
						var big = parseFloat(event.value * this.ratio.big / 10).toFixed(2);
						var small = parseFloat(event.value * this.ratio.small / 10).toFixed(2);
						var seek = parseFloat(event.value * this.ratio.seek / 10).toFixed(2);
						this.formData.big_price = big;
						this.formData.small_price = small;
						this.formData.seek_price = small;
						for (var i = 0; i < this.formFields.length; i++) {
							var field = this.formFields[i];
							if(field.name == 'big_price'){
								this.formFields[i].value = ""+big;
							}else if(field.name == 'small_price'){
								this.formFields[i].value = ""+small;
							}else if(field.name == 'seek_price'){
								this.formFields[i].value = ""+seek;
							}
						};
					}
					this.formData[event.field] = event.value;
				},
				queryCallBack:function(event){
					this.queryData[event.field] = event.value;
					this.queryData.page = 1;
					this.updatePageItem();
				},
				addItem:function(){
					for (var i = 0; i < this.formFields.length; i++) {
						var field = this.formFields[i];
						switch(field.type){
							case "Auto":
							case "String":
							case "Password":
								this.formFields[i].value = "";
								this.formData[field.name] = "";
								break;
							case "ChosenSelect":
								this.formFields[i].value = 0;
								this.formData[field.name] = 0;
								break;
							case "Switch":
								this.formFields[i].value = 0;
								this.formData[field.name] = 0;
								break;
						}
					};
					this.id = 0;
					this.choseItem = -1;
					this.isShow = true;
					this.addLabel = "添加";
				},
				shadeClose:function(){
					this.isShow = false;			
				},
				formSubmit:function(){
						for(var i = 0;i < this.formFields.length;i++){
							var field = this.formFields[i];
							switch(field.type){
								case "String":
									if(field.hasOwnProperty('rules')){
										if(field.rules.hasOwnProperty("required") && field.rules.required){
											if(!this.formData[field.name]){
												this.showMessage(field.label + "不能为空!");
												return false;
											}
										}
										if(field.rules.hasOwnProperty("number")){
											if(!/^\d+(?=\.{0,1}\d+$|$)/.test(this.formData[field.name])){
												this.showMessage(field.label + "必须为数字!");
												return false;
											}
										}
									}
								break;
								case 'ChosenSelect':
									if(field.hasOwnProperty('rules')){
										if(field.rules.hasOwnProperty("required") && field.rules.required){
											if(!this.formData[field.name]){
												this.showMessage(field.label + "必须选择!");
												return false;
											}
										}
									}
								break;
								case 'Ratio':
									if(this.formData.income_status == 2){
										for (var j = 0; j < field.options.length; j++) {
											var option= field.options[j];
											if(option.value < 0 || option.value > 1){
												this.showMessage(option.label + "比例错误,不能大小1,小于0！");
												return false;
											}
										};
										for (var j = 0; j < field.options.length; j++) {
											var option= field.options[j];
											this.formData[field.name][option.name] = option.value;
										};
									}
								break;
							}
						}
						var This =this;
						var url = this.formatUrl('create');
						var formData = this.formData;
						if(this.id > 0){
							url = this.formatUrl('update');
							formData['id'] = this.id;
						}
						this.$http.post(url,formData,{emulateJSON:true})
						.then(success=>{
								var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.isShow = false;
					            	if(This.id > 0){//修改
					            		This.items[This.choseItem] = result.data;
										This.id = 0;
										This.choseItem = -1;
					            	}else{//添加
										This.items = result.data;
					            	}
					            }else{
					            	This.showMessage(result.message);
					            }
					            
							},
							error=>{});

				},
				btnUpdate:function(index){
					this.addLabel = "修改";
					var data = this.items[index];
					this.choseItem = index;
					for (var i = 0; i < this.formFields.length; i++) {
						var fields = this.formFields[i];
						switch(fields.type){
							case "ChosenSelect":
							case "Switch":
								this.formFields[i].value = parseInt(data[fields.name]);
								this.formData[fields.name] = parseInt(data[fields.name]);
								break;
							case "Auto":
							case "String":
								this.formFields[i].value = ""+data[fields.name];
								this.formData[fields.name] = data[fields.name];
								break;
							case "Password":
								this.formData[fields.name] = "";
							break;
						}	
					};
					this.isShow = true;
					this.id = data.id;
				},
				btnDelte:function(index){
					if(window.confirm("你确定要删除该数据?")){
					var This = this;
					var item = this.items[index];
					var url = this.formatUrl('delete');
					this.$http.post(url,{id:item.id},{emulateJSON:true})
					.then(success=>{
							var result = success.body;
				            result = this.formatData(result);
				            if(result.status){
				            	This.items.splice(index,1);
				            }else{
				            	alert(result.message);
				            }
				            
						},
						error=>{});
					}
				},
				pageSelect:function(event){
					var page = event.page;
			    	this.queryData.page = page;
			        this.updatePageItem();
				},
				updatePageItem:function(){
					var This =this;
					var url = this.formatUrl('page');
					this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.list;
			                This.pages.totalCell = result.data.totalCell;
			                This.pages.currentPage = ""+This.queryData.page;
			            }
			        },
			        error=>{
			        
			        });
				},
				formatUrl:function(action){
		        	return this.baseHost+"/course/"+action+"?access_token="+this.readStorageItem('token');     
		    	},
				showMessage:function(error){
					this.error = error;
					var This = this;
					setTimeout(function(){
						This.error="";
					},3000);
				}
			}
	}

</script>
