<template>
	<div class='index-ui'>
		<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route" v-bind:path="path"></location>
		<div class="list-table">
			<div class='table-box'>
				<table border="0" width="100%" class='table-main' cellspacing="1px" cellpadding="0">
				  	<tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.style">
								<th :style="field.style">{{field.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{field.label}}</th>
					  		</template>
					    	
					    </template>
				  	</tr>
				  	<template v-for="item,findex in items">
				  		<tr>
							<template v-for="field in fields">
						  		<template v-if="field.type == 'String'">
								<td v-html="item[field.field]"></td>
						   		</template>
						   		<template v-else-if="field.type == 'Switch'">
									<template v-for="formitem in formFields">
										<template v-if='formitem.name == field.field'>
											<template v-for='opt in formitem.options'>
												<template v-if="opt.value == item[field.field]">
													<td v-html="opt.label"></td>
												</template>
											</template>
										</template>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'ChosenSelect'">
									<template v-for="r in tableChose[field.field]">
										<template v-if="r.id == item[field.field]">
											<td v-html="r.name"></td>
										</template>
									</template>
						   		</template>
					   		</template>
					
				   		</tr>
				    </template>
				</table>
			</div>
			<Lpage :totalCell="pages.totalCell" :pageSize="pages.pageSize" :currentPage="pages.currentPage" :showNum="pages.showNum" v-on:selectPage="pageSelect"></Lpage>
		</div>
	</div>
</template>

<script type="text/javascript">
import location from "../templates/location";
import Linput from "../templates/Linput";
import Yinput from "../templates/Yinput";
import Lswitch from "../templates/Lswitch";
import Yswitch from "../templates/Yswitch";
import Lchosenselect from "../templates/Lchosenselect";
import Ychosenselect from "../templates/Ychosenselect";
import Lpage from "../templates/Lpage";
	export default{
			components:{location,Linput,Yinput,Lswitch,Yswitch,Lchosenselect,Ychosenselect,Lpage},
			data(){
				return {
					topNode:"课程服务",
					route:"/course-service-log",
					list:[
						{
			     		name:'课程服务日志',
			     		route:"/course-service-log"
				     	}
					],
					path:"/course-service",
					fields:[],
					items:[],
					id:0,
					queryData:{},
					addLabel:"",
					tableChose:{},
					pages:{},

				}
			},
			mounted:function(){
				this.id = this.$route.params.id;
				var This =this;
			    var url = this.baseHost+"/course-service-log/index?access_token="+this.readStorageItem('token')+"&id="+this.id;
			        this.$http.get(url,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.items;
			                This.fields = result.data.fields;
			                This.pages = result.data.pages;
			                This.tableChose = result.data.tableChose;
							for(var i = 0;i < This.fields.length;i++){
								var field = This.fields[i];
								if(field.search){
									switch(field.type){
										case "String":
										This.$set(This.queryData,field.field,"");
										break;
										case "Switch":
										This.$set(This.queryData,field.field,-1);
										break;
									}
								}
							}
							This.$set(This.queryData,"page",1);
			            }
			        },
			        error=>{
			        
			        });
			},
			methods:{
				queryCallBack:function(event){
					this.queryData[event.field] = event.value;
					this.queryData.page = 1;
					this.updatePageItem();
				},
				pageSelect:function(event){
					var page = event.page;
			    	this.queryData.page = page;
			        this.updatePageItem();
				},
				updatePageItem:function(){
					var This =this;
					var url = this.formatUrl('page');
					this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.list;
			                This.pages.totalCell = result.data.totalCell;
			                This.pages.currentPage = ""+This.queryData.page;
			            }
			        },
			        error=>{
			        
			        });
				},
				formatUrl:function(action){
		        	return this.baseHost+"/course-service-log/"+action+"?access_token="+this.readStorageItem('token')+"&id="+this.id;     
		    	}
			}
	}

</script>
