<template>
	<div class='index-ui'>
		<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>

		<div class="list-table">
			<div class='table-box'>
				<table border="0" style="min-width:100%;width:auto;" class='table-main' cellspacing="1px" cellpadding="0">
				    <tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.style">
								<th :style="field.style">{{field.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{field.label}}</th>
					  		</template>
					    	
					    </template>
					    <template v-if="controller.action">	
					    		<th>{{controller.label}}</th>
					   	</template>
				    </tr>
				    <tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.search">
					  			<template v-if="field.type == 'String'">
					  				<td><Yinput :name="field.field"  v-on:queryCallBack="queryCallBack" ></Yinput></td>
					  			</template>
					  			<template v-else-if="field.type == 'ChosenSelect'"> 
					  				<td><Ychosenselect :name="field.field" :options="tableChose[field.field]" v-on:queryCallBack="queryCallBack" ></Ychosenselect></td>
					  			</template>
					  			<template v-else-if="field.type == 'Switch'"> 
					  				<td>
					  					<template v-for="formitem in formFields">
											<template v-if='formitem.name == field.field'>
												<Yswitch :name="field.field" :options="formitem.options" v-on:queryCallBack="queryCallBack" ></Yswitch>
											</template>
										</template>
					  				</td>
					  			</template>
					  		</template>
					    	<template v-else>
					  			<td></td>
					  		</template>
					    </template>
					    <template v-if="controller.action">
					    <td></td>
						</template>
				    </tr>
				  	<template v-for="item,findex in items">
				  		<tr>
							<template v-for="field in fields">
						  		<template v-if="field.type == 'String'">
								<td v-html="item[field.field]"></td>
						   		</template>
						   		<template v-else-if="field.type == 'Switch'">
									<template v-for="formitem in formFields">
										<template v-if='formitem.name == field.field'>
											<template v-for='opt in formitem.options'>
												<template v-if="opt.value == item[field.field]">
													<td v-html="opt.label"></td>
												</template>
											</template>
										</template>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'ChosenSelect'">
									<template v-for="r in tableChose[field.field]">
										<template v-if="r.id == item[field.field]">
											<td v-html="r.name"></td>
										</template>
									</template>
						   		</template>
						   		<template v-else-if="field.type == 'Image'">
						   			<td><i class="fa fa-image" @click="showImage(findex)" v-show="item[field.field].length > 0"></i></td>
						   		</template>
					   		</template>
					   
						   		<template v-if="controller.action">
						   			<template v-if="controller.style">
										<td :style="controller.style">
							    		
							    		<template v-if="item.payment_type == 2 || item.payment_type == 3">
											<span v-if="contains(controller.action,'bonus')" @click="btnBonus(findex)" class='controller-btn-group controller-detail'>奖金</span>
										</template>
										<template v-else>
											<span v-if="contains(controller.action,'pass')" @click="btnPass(findex)" class='controller-btn-group controller-update'>通过</span>
										</template>
							    		</td>
							  		</template>
							  		<template v-else>
										<td>
							    		
										<template v-if="item.payment_type == 2 || item.payment_type == 3">
											<span v-if="contains(controller.action,'bonus')" @click="btnBonus(findex)" class='controller-btn-group controller-detail'>奖金</span>
										</template>
										<template v-else>
											<span v-if="contains(controller.action,'pass')" @click="btnPass(findex)" class='controller-btn-group controller-update'>通过</span>
										</template>
							    		</td>
							  		</template>
							   	</template>
					
				   		</tr>
				    </template>
				</table>
			</div>
			<Lpage :totalCell="pages.totalCell" :pageSize="pages.pageSize" :currentPage="pages.currentPage" :showNum="pages.showNum" v-on:selectPage="pageSelect"></Lpage>
		</div>
<div class='form-main-shade' v-show="isShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>{{ addLabel }}<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
					<template v-for="form in formFields">
						<template v-if="form.type == 'String'">
							<Linput v-bind:label="form.label" v-bind:type="form.type" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:rules="form.rules" v-bind:show="isShow"></Linput>
						</template>
						<template v-if="form.type == 'Switch'">
							<Lswitch v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:options="form.options" v-bind:show="isShow"></Lswitch>
						</template>
			
					</template>
				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
	</div>
<Ylook v-bind:items="showImages" v-bind:show="imageLookShow" v-on:showCallBack='checkLookShow'></Ylook>
	</div>
</template>

<script type="text/javascript">
import location from "../templates/location";
import Linput from "../templates/Linput";
import Yinput from "../templates/Yinput";
import Lswitch from "../templates/Lswitch";
import Yswitch from "../templates/Yswitch";
import Lchosenselect from "../templates/Lchosenselect";
import Ychosenselect from "../templates/Ychosenselect";
import Lpage from "../templates/Lpage";
import datetime from "../templates/LDateTime";
import LuploadImage from "../templates/LuploadImage";
import Ylook from "../templates/Ylook";
	export default{
			components:{location,Linput,Yinput,Lswitch,Yswitch,Lchosenselect,Ychosenselect,Lpage,datetime,LuploadImage,Ylook},
			data(){
				return {
					topNode:"",
					route:"/finance",
					list:[],
					order_no:"",
					fields:[],
					controller:{},
					items:[],
					roles:[],
					id:0,
					choseItem:-1,
					isShow:false,
					autoHidden:true,
					tableChose:{},
					formChose:{},
					error:"",
					formFields:[],
					formData:{},
					initFormData:{},
					queryData:{},
					addLabel:"",
					pages:{},
					showTime:false,
					showImages:[],
					imageLookShow:false,
				}
			},
			created:function(){
			 	var prefix = "finance";
		    	var key = prefix+"_list";
		        if(this.readStorageItem(key)){
		            var node = JSON.parse(this.readStorageItem(key));
		            this.list = node.list;
		            this.topNode = node.topNode;
		        }else{
		            var This =this;
		            var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
		            this.$http.get(url,{emulateJSON:true})
		                .then(
		                    success=>{
		                        var result = success.body;
		                        result = this.formatData(result);
		                        if(result.status){
		                            This.list = result.data.list;
		                            This.topNode = result.data.topNode;
		                            if(This.list.length > 0){
										This.writeStorageItem(key,JSON.stringify(result.data));
		                            } 
		                        }
		                    },
		                    error=>{});
		        }
		  	},
			mounted:function(){
				this.order_no = this.$route.params.orderno;
		
				var This =this;
			    var url = this.baseHost+"/finance/index?access_token="+this.readStorageItem('token')+"&order_no="+this.order_no;
			        this.$http.get(url,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.formFields = result.data.formFields;
			                This.items =result.data.items;
			                This.formChose = result.data.formChose;
			                This.tableChose = result.data.tableChose;
			                This.controller = result.data.controller;
			                This.fields = result.data.fields;
			                This.pages = result.data.pages;
			                for (var i = 0; i < This.formFields.length; i++) {
								var field = This.formFields[i];
								This.$set(This.formData,field.name,field.value);
								This.$set(This.initFormData,field.name,field.value);
							};

							for(var i = 0;i < This.fields.length;i++){
								var field = This.fields[i];
								if(field.search){
									switch(field.type){
										case "String":
										This.$set(This.queryData,field.field,"");
										break;
										case "Switch":
										This.$set(This.queryData,field.field,-1);
										break;
									}
									
								}
							}
							This.$set(This.queryData,"page",1);
			            }
			        },
			        error=>{
			        
			        });
			       

			},
			methods:{
				callBack:function(event){
					if(event.field == 'error'){
						this.showMessage(event.message);
						return false;
					}
					this.formData[event.field] = event.value;
					console.log(this.formData);
				},
				queryCallBack:function(event){
					this.queryData[event.field] = event.value;
					this.queryData.page = 1;
					this.updatePageItem();
				},
			
				shadeClose:function(){
					this.isShow = false;	
					this.showTime = false;	
					this.choseItem = -1;	
				},
				btnPass:function(index){
					var item = this.items[index];
					if((item.payment_type == 3 || item.payment_type == 2) && !item.bonus){
						alert("请先分配奖金");
						return false;
					}
					if(window.confirm("你确定要审核通过数据?")){
						var This  =this;
						var url = this.formatUrl('pass');
						this.$http.post(url,{id:item.id},{emulateJSON:true})
						.then(success=>{
								var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.items.splice(index,1);
					            }else{
					            	alert(result.message);
					            }
					            
							},
							error=>{});
					}
				},
				formSubmit:function(){
					for(var i = 0;i < this.formFields.length;i++){
							var field = this.formFields[i];
							switch(field.type){
								case "String":
									if(field.hasOwnProperty('rules')){
										if(field.rules.hasOwnProperty("required") && field.rules.required){
											if(!this.formData[field.name]){
												this.showMessage(field.label + "不能为空!");
												return false;
											}
										}
										if(field.rules.hasOwnProperty("number")){
											if(!/^\d+(?=\.{0,1}\d+$|$)/.test(this.formData[field.name])){
												this.showMessage(field.label + "必须为数字!");
												return false;
											}
										}
									}
								break;
							}
						}
					var item = this.items[this.choseItem];
					var This  =this;
					var url = this.formatUrl('bonus');
						this.$http.post(url,{id:item.id,'bonus':this.formData.bonus},{emulateJSON:true})
						.then(success=>{
								var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.items.splice(This.choseItem,1);
					            }else{
					            	alert(result.message);
					            }
					            This.shadeClose();
					            
							},
							error=>{});
				},
				btnBonus:function(index){
					this.choseItem = index;
					var data = this.items[index];
					this.isShow  = true;
					for (var i = 0; i < this.formFields.length; i++) {
						var fields = this.formFields[i];
						switch(fields.type){
							case "String":
								this.formFields[i].value = ""+data[fields.name];
								this.formData[fields.name] = data[fields.name];
								break;
						}
					};
				},
				pageSelect:function(event){
					var page = event.page;
			    	this.queryData.page = page;
			        this.updatePageItem();
				},
				updatePageItem:function(){
					var This =this;
					var url = this.formatUrl('page');
					this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.list;
			                This.pages.totalCell = result.data.totalCell;
			                This.pages.currentPage = ""+This.queryData.page;
			            }
			        },
			        error=>{
			        
			        });
				},
				formatUrl:function(action){
		        	return this.baseHost+"/finance/"+action+"?access_token="+this.readStorageItem('token')+"&order_no="+this.order_no;     
		    	},
				showMessage:function(error){
					this.error = error;
					var This = this;
					setTimeout(function(){
						This.error="";
					},3000);
				},
				showImage:function(index){
					this.showImages =this.items[index].images;
					this.imageLookShow = true;
				},
				checkLookShow:function(){
					this.imageLookShow = false;
				}
				
			}
	}

</script>
