<template>
<div class='form-input-group' :class="item.addclass">
	<label class='form-label'>{{ item.label }}</label>
	<div class='froup-items'>
		<input type='text' class='from-input' v-model="item.value" :name="item.name" @blur="blur" :readonly="item.readonly" :class="{'no-input':item.readonly}"/>
	</div>
	
</div>
</template>
<script>
export default{
	props:{
		itemdata:{
			type:Object
		}
	},
	data(){
		return {
			item:{}
		}
	},
	mounted:function(){
				let add_Class = this.itemdata.hasOwnProperty('addclass') ? this.itemdata.addclass : "default";
				this.$set(this.item,"addclass",add_Class);
				let label =  this.itemdata.hasOwnProperty('label') ? this.itemdata.label : "";
				this.$set(this.item,"label",label);
				let name = this.itemdata.hasOwnProperty('name') ? this.itemdata.name : "";
				this.$set(this.item,"name",name);
				let value =  this.itemdata.hasOwnProperty('value') ? this.itemdata.value: "";
				this.$set(this.item,"value",value);
				let readonly = this.itemdata.hasOwnProperty('readonly') ? true : false;
				this.$set(this.item,"readonly",readonly);
				let rules = this.itemdata.hasOwnProperty('rules') ? this.itemdata.rules : [];
				this.$set(this.item,"rules",rules);
	},
	methods:{
		blur:function(){
			if(this.contains(this.item.rules,'required')){
				if(this.item.value){
					let data = {field:this.item.name,value:this.item.value}
					this.$emit("input",data);
				}else{
					let data = {field:"error",value:this.item.label+"必须填写"}
					this.$emit("input",data);
				}
			}
			
		},
		contains:function(arr,obj){
			var i = arr.length;
			while (i--) {
			    if (arr[i] === obj) {
			      return true;
			    }
			  }
			 return false;
		}
	}
}
</script>

