<template>
<div>
<div class='main-content-cell'>
          <div class='node-cell-left clearfix'>
              <ul class='main-ul-items' v-if="items">
                  <li v-for="item,kitem in items">
                    <span>
                        <i :class="['fa',item.child ? (item.open ? 'fa-folder-open' : 'fa-folder') : 'fa-file']"  @click='openClose(item.id)'></i>
                        <label @click='selectItem(item.id)'>{{ item.name }}</label>
                    </span>
                    <ul v-if="item.child && item.open">
                        <li v-for="child,kchild in item.child">
                            <span>
                                <i :class="['fa', child.child ? (item.open ? 'fa-folder-open' : 'fa-folder') : 'fa-file']" @click='openClose(child.id)' ></i>
                                <label  @click='selectItem(child.id)'>{{ child.name }}</label>
                            </span>
                            <ul v-if="child.child && child.open">
                                <li v-for="c,kc in child.child">
                                    <span>
                                        <i :class="['fa', c.child ? (c.open ? 'fa-folder-open' : 'fa-folder') :'fa-file']" @click='openClose(c.id)'></i>
                                        <label  @click='selectItem(c.id)'>{{ c.name }}</label>
                                         <ul v-if="c.child && c.open">
                                            <li v-for="d in c.child">
                                                <span>
                                                    <i class="fa fa-file"></i>
                                                     <label @click='selectItem(d.id)'>{{ d.name }}</label>
                                                </span>
                                            </li>
                                         </ul>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                  </li>
                 
              </ul>
              <div class='make-controller'>
                    <span><i class="fa fa-plus"></i></span>
                    <span><i class="fa fa-pencil fa-fw"></i></span>
                    <span><i class="fa fa-trash-o fa-lg"></i></span>
                    <span><i class="fa fa-arrow-up"></i></span>
                    <span><i class="fa fa-arrow-down"></i></span>
                    <span><i class="fa fa-arrow-left"></i></span>
                    <span><i class="fa fa-arrow-right"></i></span>
              </div>
          </div>
          <div class="node-cell-right">
               <template v-for="item in forms">
			            <ginput v-if='item.type == "input"' v-bind:itemdata='item' v-on:input='callBackInput'></ginput>
			            <gswitch v-if='item.type == "switch"' v-bind:itemdata='item' v-on:input='callBackInput'></gswitch>
			    </template>
			    <div class='form-input-group error-group'>
			    	{{ error }}
			    </div> 
			    <div class='form-input-group btn-group'>
			    	<button class="btn btn-default" type="submit" :disabled="disabled" @click="submitForm">{{ actions }}</button>
			    </div>  
          </div>
        </div>
	  
</div>
</template>
<script>
import ginput from "./ginput";
import gswitch from "./gswitch";
export default {
	components:{ginput,gswitch},
	props:{
		forms:{
			type:Array,
			default:[]
		}
	},
	data(){
		return {
			fields:{},
			error:"",
			disabled:false,
			actions:"提交",
		}
	},
	mounted:function(){
		for(var i = 0; i < this.forms.length;i++){
			this.$set(this.fields,this.forms[i].name,this.forms[i].value)
		}
	},
	methods:{
		callBackInput:function(event){
			if(event.field == 'error'){
				this.showError(event.value);
			}else{
				this.fields[event.field]=event.value;
			}
		},
		submitForm:function(){
			for(var i= 0;i < this.forms.length;i++){
				var field = this.forms[i];
				if(field.hasOwnProperty('rules') && !this.forms[i].readonly){
					if(this.contains(field.rules,'required')){
						if(!this.fields[field.name]){
							this.showError(field.label +"必须填写");
							return false;
						}
					}
				}
			}
			this.$emit('submit',this.fields);
			this.submitloading();

		},
		contains:function(arr,obj){
			var i = arr.length;
			while (i--) {
			    if (arr[i] === obj) {
			      return true;
			    }
			  }
			 return false;
		},
		showError:function(errMessage){
			this.error = errMessage;
			var This = this;
			setTimeout(function(){
            		This.error = "";
          		},3000);
		},
		submitloading:function(){
			this.disabled = true;
			this.actions = "提交中...";
			var This = this;
				setTimeout(function(){
            		This.disabled = false;
            		This.actions = "提交";
          		},3000);

		}
		
	}

}
</script>
