<template>
	<div class='form-group-y'>
		<div class='process-bg'>
			<div class='process-main'>
				<span class="process-main-bg" :style="width"></span>
			</div><span class='process-percent'>{{percent}}</span>
		</div>
	</div>
</template>
<script>
export default{
	props:{
		maxProcess:{type:String,default:"100"},
		currentProcess:{type:String,default:"0"}
	},
	data(){
		return {
			max:parseInt(this.maxProcess),
			current:parseInt(this.currentProcess)
		}
	},
	watch:{
		currentProcess:function(val,old){
			this.current = val ? parseInt(val) : parseInt(this.currentProcess);
		}
	},
	computed:{
		width:function(){
			var percent = parseInt(this.current / this.max * 100);
			return "width:"+percent+"%";
		},
		percent:function(){
			return this.current+"/"+this.max;
		}
	}
}
</script>
<style scoped>
	.form-group-y{height: 30px;line-height: 30px;width: 100%;font-size: 18px;overflow: hidden;}
	.process-bg{display:inline-block;width:240px;position:relative;text-align:left;}
	.process-main{display:inline-block;width:200px;height:20px;overflow: hidden;background-color: #f5f5f5;border-radius: 4px;margin-top:5px;box-shadow: inset 0 1px 2px rgba(0,0,0,1);}
	.process-main-bg{display:block;width:0px;height:100%;background:#337ab7;}
	.process-percent{height:20px;line-height:20px;font-size:16px;width:30px;position:absolute;right:6px;top:6px;}
</style>