<template>
<div class='form-input-group' :class="addclass">
    <label class='form-label'>{{ label }}</label>
	<div class='froup-items'>
		<label class="radio-inline">
	      <input type="radio"  value="option1" name="sex">男性
	    </label>
	    <label class="radio-inline">
	      <input type="radio"  value="option2" name="sex">女性
	    </label>
	    <label class="radio-inline">
	      <input type="radio"  value="option3" name="sex">中性
	    </label>
	</div>
</div>
</template>
<script>
export default{
	props:{
		addclass:{
			type:String,
			default:"default"
		},
		label:{
			type:String,
			default:"节点"
		},
		name:{
			type:String,
			default:""
		},
		value:{
			type:String,
			default:""
		},
		readonly:{
			type:Boolean,
			default:false
		}
	},
	methods:{
		blur:function(){
			if(this.value){
				let name = this.name +"";
				let data = {name:this.value}
				this.$emit("input",data);
			}
		}
	}
}
</script>
<style scoped>
	.form-input-group{height:30px;line-height:30px;font-size:16px;padding:6px}
	.form-label{display:inline-block;height:100%;padding:0px 10px;}
	.froup-items{display:inline-block;width:60%;}
	.radio-inline{margin-right:10px;}
</style>
