<template>
<div class='form-input-group' :class="item.addclass">
	<label class='form-label'>{{ item.label }}</label>
	<div class="froup-items">
	        <span class="switch-left switch-large " @click="switcLeft" v-bind:class="{ yesswitch:item.value }">ON</span><span class="switch-right switch-large " @click="switcRight" v-bind:class="{ yesswitch:!item.value }">OFF</span>
    </div>
</div>
</template>
<script>
export default{
	props:{
		itemdata:{
			type:Object
		}
	},
	data(){
		return {
			item:{}
		};
	},
	mounted:function(){
				let add_Class = this.itemdata.hasOwnProperty('addclass') ? this.itemdata.addclass : "default";
				this.$set(this.item,"addclass",add_Class);
				let label =  this.itemdata.hasOwnProperty('label') ? this.itemdata.label : "";
				this.$set(this.item,"label",label);
				let name = this.itemdata.hasOwnProperty('name') ? this.itemdata.name : "";
				this.$set(this.item,"name",name);
				let value =  this.itemdata.hasOwnProperty('value') ? this.itemdata.value: "";
				this.$set(this.item,"value",value);
				let readonly = this.itemdata.hasOwnProperty('readonly') ? true : false;
				this.$set(this.item,"readonly",readonly);
				let rules = this.itemdata.hasOwnProperty('rules') ? this.itemdata.rules : [];
				this.$set(this.item,"rules",rules);
			
	},
	methods:{
		switcLeft:function(){
			this.item.value = true;
			let data = {field:this.item.name,value:1}
			this.$emit("input",data);
		},
		switcRight:function(){
			this.item.value = false;
			let data = {field:this.item.name,value:0}
			this.$emit("input",data);
		}
	}
}
</script>