<template>
<div class='form-group'>
	<label class="form-group-label" v-if="label">{{label}}</label>
	<div class="form-group-div" v-on:mouseleave="leaveChose">
		<div class='chosen-container'>
			<span :title="comTitle" class='chosen-container-title' @click="showList">{{comTitle}}</span>
			<i class="fa fa-caret-down" @click="showList"></i>
			<div class="chosen-container-item-list" v-show="listShow">
				<div class='chosen-search'>
					<input type='text' @input="inputValue" v-model="searchkw"/>
				</div>
				<ul class="chosen-results">
					<template v-for="o in options">
						<li class="active-result" :class="{activeCurrent:valueData == o.id}" @click='selectItem(o.id,o.name)' v-show='!o.show' v-html='o.name'></li>
					</template>
				</ul>
			</div>
			
		</div>
	</div>
</div>
</template>

<script>
export default{
	props:{
		label:{type:String,default:"标签:"},
		name:{type:String,default:""},
		value:{type:Number|String,default:0},
		readOnly:{type:Boolean,default:false},
		rules:{type:Object,default:function(){return {}}},
		options:{type:Array,default:function(){return []}},
		show:{type:Boolean,default:false}
	},
	data(){
		return {
			valueData:parseInt(this.value),
			optionsList:this.options,
			content:"",
			listShow:false,
			searchkw:"",
			title:"--请选择--"
		}
	},
	watch:{
			value:function(val,old){
				this.valueData = val ? val : 0;
				if(val < 0){
					this.title = "--请选择--";
				}
			},
			show:function(val,old){
				if(!val){
					this.valueData = 0;
					this.title = "--请选择--";
				}else{
					this.valueData = this.value;
				}
			}
	},
	computed:{
		comTitle:function(){
			for (var i = 0; i < this.options.length; i++) {
				var option = this.options[i];
				if(this.valueData == option.id){
					this.title = option.name.replace(/&nbsp;/gi,'');
				}
			};
			return this.title;
		},
	},
	methods:{
		showList:function(){
			this.listShow = !this.listShow;
		},
		selectItem:function(id,title){
			if(id != this.valueData){
				this.valueData = id;
				this.title =title.replace(/&nbsp;/gi,'');
				var data={field:this.name,value:id};
				this.submitCallBack(data);
			}
			this.listShow = false;
		},
		submitCallBack:function(data){
			this.$emit("callInput",data);
		},
		inputValue:function(){
			if(this.searchkw){

				for (var i = 0; i < this.options.length; i++) {
					if(this.options[i].name.search(this.searchkw) != -1){
						this.options[i].show = null;
					}else{
						this.options[i].show = 1;
					}
				}
			}else{
				for (var i = 0; i < this.options.length; i++) {
					this.options[i].show = null;
				}
			}
		},
		leaveChose:function(){
			this.listShow = false;
		}
	}
}
</script>
<style scoped>
	.chosen-container{width:500px;height:30px;border: 1px solid #cfcfcf;padding:2px;border-radius:2px;box-sizing:border-box;
		-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-shadow: 0 1px 5px rgba(0,0,0,0.1);position: relative;top: 0px;left: 0px;cursor:pointer;}
	.chosen-container-title{display:block;color:grey;font-size:12px;height:24px;text-indent:4px;}
	.chosen-container .fa-caret-down{position:absolute;right:8px;top:5px;}
	.chosen-container .chosen-container-item-list{position:absolute;top:28px;left:-1px;width:100%;background:#fff;border-right:1px solid #cfcfcf;border-left:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;width:500px;z-index: 1;
	}
	.chosen-search{position: relative;padding: 3px 4px;margin: 0;white-space: nowrap;}
	.chosen-search input{width: 100%;height: 27px;box-sizing: border-box;padding: 2px 26px 2px 8px;margin: 1px 0;font-size: 12px;line-height: 1.5;background-color: #fff;
    border: 1px solid #ccc;border-radius: 4px;outline: 0;}
    .chosen-results{
		position: relative;max-height: 240px;padding: 0;margin: 0;overflow-x: hidden;overflow-y: auto;
		box-shadow: 0 2px 12px rgba(15,5,10,0.14);
	}
	.chosen-results .active-result{padding: 5px 10px;margin: 0;line-height: 15px;font-size:13px;}
	.chosen-results .active-result:hover{background:#ff852e;color:#fff;}
	.chosen-results .activeCurrent{background:#ff852e;color:#fff;}
	.chosen-results::-webkit-scrollbar {width:10px;height: 1px;}
    .chosen-results::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
</style>