<template>
<div class='form-group'>
	<label class="form-group-label" v-if="label">{{label}}</label>
	<div class="form-group-div"><input :type="rtype" :name="name" v-model="valueData" @blur="blur" :readonly="readOnly" class="form-group-input" :class="{grayClass:readOnly}"></div>
</div>
</template>

<script>
export default{
	props:{
		label:{type:String,default:"标签:"},
		name:{type:String,default:""},
		value:{type:String,default:""},
		readOnly:{type:Boolean,default:false},
		rules:{type:Object,default:function(){return {}}},
		type:{type:String,default:"text"},
		show:{type:Boolean,default:false}
	},
	data(){
		return {
			valueData:this.value,
			rtype:this.type == "Password" ? 'password' : "text",
			errorMessage:{
				field:"error",
				message:""
			}
		}
	},
	watch:{
		value:function(val,old){
			this.valueData = val ? val : "";
		},
		show:function(val,old){
			if(!val){
				this.valueData = '';
			}else{
				this.valueData = this.value;
			}
		}
	},
	methods:{
		blur:function(){
			var arr = Object.keys(this.rules);
			if(arr.length > 0){
				if(this.rules.hasOwnProperty("required") && this.rules.required){
					if(!this.valueData){
						this.errorMessage.message= this.label+"不能为空!";
						this.emitCallBack();
						return false;
					}
				}
				if(this.rules.hasOwnProperty("number")){
					if(!/^\d+(?=\.{0,1}\d+$|$)/.test(this.valueData)){
						this.valueData= "";
						this.errorMessage.message= this.label+"必须为数字!";
						this.emitCallBack();
						return false;
					}
				}
				if(this.rules.hasOwnProperty("mobile")){
					if(!/1[3|4|5|7|8]\d{9}/.test(this.valueData)){
						this.errorMessage.message= this.label+"验证失败!";
						this.valueData= "";
						this.emitCallBack();
						return false;
					}
				}
				
			}
			if(this.valueData){
				var data={field:this.name,value:this.valueData};
				this.submitCallBack(data);
			}
		},
		emitCallBack:function(){
			this.$emit("callInput",this.errorMessage);
		},
		submitCallBack:function(data){
			this.$emit("callInput",data);
		}
	}
}
</script>

<style scoped>
	.form-group-input{display:block;height:28px;width:100%;text-indent:6px;}
	.grayClass{background: #e5e5e5;border: none;}
</style>