<template>
<div id='location'>
    <ul class="node-list">
        <li>
            <router-link v-bind:to="{path:path}"><i class="fa fa-arrow-left" aria-hidden="true"></i></router-link>
            <span>{{ current }}</span>
        </li>
        <li v-for="item in list">
            <template v-if="route == item.route">
                <div class='child-node currentClass'>
                    <a href="javascript:;" class="router-link-active">{{ item.name }}</a>
                </div>
            </template>
            <template v-else>
                <div class='child-node'>
                    <router-link v-bind:to="{path:item.route}">{{ item.name }}</router-link>
                </div>
            </template>
        </li>
    </ul>
</div>
</template>

<script>
export default{
    props:{
		current:{
			type:String,
            default:"系统设置"
		},
        list:{
            type:Array,
            default:[]
        },
        path:{
            type:String,
            default:"/"
        },
        route:{
            type:String,
            default:""
        }
    },
    data(){
        return {
            isShow:true,
            timer:null
        }
    }
}
</script>
