<template >
	<div>
		<div class='pages' v-if="show">

				<ul class="pages-list">
					<li @click="pageItem(list.first)"><i class="fa fa-angle-double-left"></i></li>
					<li @click="pageItem(list.prev)"><i class="fa fa-angle-left"></i></li>
					<template v-for='i in list.rand'>
					<li  @click="pageItem(i)" :class="{current:i==currentNum}">{{i}}</li>
					</template>
					<li @click="pageItem(list.next)"><i class="fa fa-angle-right"></i></li>
					<li @click="pageItem(list.last)"><i class="fa fa-angle-double-right"></i></li>
				</ul>

		</div>
	</div>
</template>

<script type="text/javascript">
	export default{
		props:{
			totalCell:{type:String,default:"0"},
			pageSize:{type:String,default:"15"},
			currentPage:{type:String,default:"1"},
			showNum:{type:String,default:"10"}
		},
		data(){
			return{
				currentNum:parseInt(this.currentPage),
			}
		},
		watch:{
			currentPage:function(val,old){
				this.currentNum = parseInt(val);
			}
		},
		computed:{
			list:function(){
				var totalCell = parseInt(this.totalCell);
				var pageSize = parseInt(this.pageSize);
				var currentPage = this.currentNum;
				var showNum = parseInt(this.showNum);
				var totalPage = Math.ceil(totalCell / pageSize);
				var list = {}
				if(totalPage < 2){
					return list;
				}
				list.first = 1;
				list.prev = currentPage > 1 ? currentPage - 1 : 1;
				list.last = totalPage;
				list.next = currentPage < totalPage ? currentPage + 1 : totalPage;
				list.rand = new Array();
				if(totalPage <= showNum){
					for (var i = 1; i <= totalPage; i++) {
						list.rand.push(i);
					};
					return list;
				}
				var halt = Math.ceil(showNum / 2);
				if(currentPage - halt > 0){
					var end = currentPage - halt + showNum;
					var start = currentPage - halt;
					if(end <= totalPage){
						for (var i = start; i < end; i++) {
							list.rand.push(i);
						};
					}else{
						 start = totalPage-showNum + 1;
						for (var i = start; i <= totalPage; i++) {
							list.rand.push(i);
						};
					}
					return list;
				}
				for (var i = 1; i <= showNum; i++) {
						list.rand.push(i);
				};
				return list;
			},
			show:function(){
				var totalCell = parseInt(this.totalCell);
				var pageSize = parseInt(this.pageSize);
				return totalCell > pageSize ? true: false;
			}

		},
		methods:{
			pageItem:function(index){

				this.$emit("selectPage",{page:index});
			}
		}
	}
</script>