<template>
<div class='form-group'>
	<label class="form-group-label" v-if="label">{{label}}</label>
	<div class="form-group-div">
		<template v-for="o in options">
		<span class="switch-item" @click="switchOptions(o.value)" :class="{ switchon:valueData == o.value}">{{o.label}}</span>
		</template>
	</div>
</div>
</template>

<script>
	export default{
		props:{
			label:{type:String,default:"标签:"},
			name:{type:String,default:"name"},
			value:{type:Number,default:0},
			readOnly:{type:Boolean,default:false},
			rules:{type:Object,default:function(){return {}}},
			options:{type:Array,default:function(){return [{label:"ON",value:0},{label:"OFF",value:1}]}},
			show:{type:Boolean,default:false}
		},
		data(){
			return {
				valueData:this.value
			}
		},
		watch:{
			value:function(val,old){
				this.valueData = val ? val : this.value;
			},
			show:function(val,old){
				this.valueData = this.value;
			}
		},
		methods:{
			switchOptions:function(value){
				this.valueData = value;
				let data ={field:this.name,value:value};
				this.submitCallBack(data);
			},
			submitCallBack:function(data){
				this.$emit("callInput",data);
			}
		}
	}
</script>

<style>
	.switch-item{display:inline-block;padding:0px 10px;background:#e3e3e3;cursor:pointer;}
	.switch-item:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px;}
	.switch-item:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px;}
	.switchon{background:#de474e;color:#fff;}
</style>