<template>
<div class='form-group'>
	<label class="form-group-label" v-if="label">{{label}}</label>
	<div class="form-group-div">
		<ul class="image-list-item clearfix">
			<template v-for='img,index in imageList'>
			<li>
				<span class='delimage' @click='delImage(index)'>x</span>
				<img :src="img">
			</li>
			
			</template>
		</ul>
		<div style='height:30px;'>
			<div class="form-group-input-file">
				<span class='process-bg' :style="process"></span>
			</div><em>{{percent}}</em><span @click="imageUpload" class='image-btn'>选择</span>
			<input input type="file"  @change="change" id="fileUpload" class="form-group-hiden"/>
		</div>
	</div>
</div>
</template>

<script>
var qiniu = require("qiniu-js");
export default{
	props:{
		label:{type:String,default:"图片:"},
		name:{type:String,default:"image"},
		value:{type:Array,default:function(){return []}},
		readOnly:{type:Boolean,default:false},
		rules:{type:Object,default:function(){return {}}},
		show:{type:Boolean,default:false}
	},
	data(){
		return {
			valueData:this.value,
			errorMessage:{
				field:"error",
				message:""
			},
			uploadToken:"",
			imageHost:"",
			thumb:"?imageView2/2/h/120",
			process:"widht:0%",
			percent:""
		}
	},
	mounted:function(){
		var This = this;
				var url =this.baseHost+"/index/upload-token?access_token="+this.readStorageItem('token');
				this.$http.get(url,{emulateJSON:true})
					.then(success=>{
						var result = success.body;
						result = this.formatData(result);
						if(result.status){
						    This.uploadToken = result.data.token;
						    This.imageHost = result.data.imageHost;
						}
					},
					error=>{});
	},
	watch:{
		value:function(val,old){
			this.valueData = val ? val : [];
		},
		show:function(val,old){
			if(!val){
				this.valueData = [];
			}else{
				this.valueData = this.value;
			}
		}
	},
	computed:{
		imageList:function(){
			var images = [];
			if(this.valueData.length > 0){
				for (var i = 0; i < this.valueData.length; i++) {
					images[i] = this.imageHost + this.valueData[i] + this.thumb;
				};
			}
			return images;
		}
	},
	methods:{
		change:function(event){
			var file = event.target.files[0];
			if(this.uploadToken){
				this.uploadImage(file);
			}else{
				var This = this;
				var url =this.baseHost+"/order/upload-token?access_token="+this.readStorageItem('token');
				this.$http.get(url,{emulateJSON:true})
					.then(success=>{
						var result = success.body;
						result = this.formatData(result);
						if(result.status){
						    This.uploadToken = result.data.token;
						    This.imageHost = result.data.imageHost;
						    This.uploadImage(file);  
						}
					},
					error=>{});
			}
		},
		uploadImage:function(file){
				var This = this;
		            var config = {
					  useCdnDomain: false,
					  region: qiniu.region.z1
					};
					var putExtra = {
					  fname: "",
					  params: {},
					  mimeType: [] || null
					};
					var key ="order/"+this.fileName(file);
					var observable = qiniu.upload(file, key, this.uploadToken, putExtra, config);
					var subscription = observable.subscribe(next=>{
						This.percent = parseInt(next.total.percent)+"%";
						This.process = "width:"+This.percent;
					}, error=>{},complete=>{
						console.log(complete);
						This.percent = "";
						This.process = "width:0%";
						This.valueData.push(key);
						var data={field:This.name,value:This.valueData};
						This.submitCallBack(data);
					})
		},
		fileName:function(file){
				var suffix = ".png";
				switch(file.type){
					case "image/jpeg":
					case "image/jpg":
						suffix= ".jpg";
						break;
					default:
						suffix = ".png";
					break;
				}
				var timestamp = new Date().getTime();
				return timestamp+suffix;
		},
		imageUpload:function(){
			document.getElementById("fileUpload").click();
		},
		emitCallBack:function(){
			this.$emit("callInput",this.errorMessage);
		},
		submitCallBack:function(data){
			this.$emit("callInput",data);
		},
		delImage:function(index){
			this.valueData.splice(index,1);
			var data={field:this.name,value:this.valueData};
			this.submitCallBack(data);
		}
	}
}
</script>

<style scoped>
	.form-group{height:auto;width:100%;font-size:18px;}
	.form-group-div{display:inline-block;width:80%;vertical-align: middle;border: 1px solid #e3e3e3;}
	.form-group-input{display:block;height:28px;width:100%;text-indent:6px;}
	.image-list-item{padding:10px;min-height:100px;}
	.form-group-input-file{display:inline-block;;height:28px;width:75%;margin-left: 4px;
    border: 1px solid #f5f5f5;box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border-radius: 8px;
    overflow: hidden;}
	.form-group-hiden{display:none;}
	.image-btn{width:18%;display:inline-block;text-align: center;background:#337ab7;height:30px;vertical-align:bottom;float: right;border:1px solid #337ab7;cursor:pointer;color:#fff;}
	.image-list-item li{float: left;display:inline-block;height:120px;width:auto;padding: 8px;margin-right:10px;border:1px solid #337ab7;margin-top:10px;position: relative;}
	.image-list-item li img{height:100%;}
	.delimage{position: absolute;right:-8px;display:inline-block;width:16px;height:16px;line-height:16px;text-align: center;top:-8px;border-radius:50%;background:#de474e;color:#fff;cursor:pointer;}
	.clearfix{zoom:1;}
	.clearfix:after{clear: both;content: "";display: block;}
	.process-bg{display:inline-block;height:100%;background:#5bc0de;}
	em{vertical-align: top;display: inline-block;line-height: 30px;font-size: 14px;}
</style>