<template>
	<div class='form-group-y'>
		<div class="form-group-div-y" v-on:mouseleave="leaveChose">
			<div class='chosen-container'>
				<span :title="comTitle" class='chosen-container-title' @click="showList">{{comTitle}}</span>
				<i class="fa fa-caret-down" @click="showList"></i>
				<div class="chosen-container-item-list" v-show="listShow">
					<ul class="chosen-results">
						<li class="active-result"  @click='selectItem("-1","--选择--")'>--选择--</li>
						<template v-for="o in options">
							<li class="active-result"  @click='selectItem(o.id,o.name)' v-html='o.name'></li>
						</template>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default{
	props:{
		label:{type:String,default:"标签:"},
		name:{type:String,default:""},
		value:{type:Number,default:-1},
		rules:{type:Object,default:function(){return {}}},
		options:{type:Array,default:function(){return []}}
	},
	data(){
		return {
			valueData:parseInt(this.value),
			optionsList:this.options,
			content:"",
			listShow:false,
			title:"--选择--"
		}
	},
	watch:{
			value:function(val,old){
				this.valueData = val;
				if(!val){
					this.title = "";
				}
			}
	},
	computed:{
		comTitle:function(){
			for (var i = 0; i < this.options.length; i++) {
				var option = this.options[i];
				if(this.valueData == option.id){
					this.title = option.name.replace(/&nbsp;/gi,'');
				}
			};
			return this.title;
		},
	},
	methods:{
		showList:function(){
			this.listShow = !this.listShow;
		},
		selectItem:function(id,title){
			if(id != this.valueData){
				this.valueData = id;
				this.title =title.replace(/&nbsp;/gi,'');
				var data={field:this.name,value:id};
				this.submitCallBack(data);
			}
			this.listShow = false;
		},
		submitCallBack:function(data){
			this.$emit("queryCallBack",data);
		},
		leaveChose:function(){
			this.listShow = false;
		}
	}
}
</script>
<style scoped>
	.chosen-container{width:100%;height:30px;border: 1px solid #cfcfcf;padding:2px;border-radius:2px;box-sizing:border-box;
		-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-shadow: 0 1px 5px rgba(0,0,0,0.1);position: relative;top: 0px;left: 0px;cursor:pointer;}
	.chosen-container-title{display:block;color:grey;font-size:12px;height:24px;text-indent:4px;}
	.chosen-container .fa-caret-down{position:absolute;right:8px;top:5px;}
	.chosen-container .chosen-container-item-list{position:absolute;top:28px;left:-1px;width:100%;background:#fff;border-right:1px solid #cfcfcf;border-left:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;width:100%;
	}
    .chosen-results{
		position: relative;max-height: 240px;padding: 0;margin: 0;overflow-x: hidden;overflow-y: auto;
		box-shadow: 0 2px 12px rgba(15,5,10,0.14);
	}
	.chosen-results .active-result{padding: 5px 10px;margin: 0;line-height: 15px;font-size:13px;}
	.chosen-results .active-result:hover{background:#ff852e;color:#fff;}
	.chosen-results::-webkit-scrollbar {width:10px;height: 1px;}
    .chosen-results::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
</style>