<template>
<div class='form-group-y'>
	<div class="form-group-div-y"><input :type="rtype" :name="name" @keyup.enter="entryInput" v-model="valueData" @blur="blur"  class="form-group-input"></div>
</div>
</template>
<script>
export default{
	props:{
		name:{type:String,default:""},
		value:{type:String,default:""},
		type:{type:String,default:"text"}
	},
	data(){
		return {
			valueData:this.value,
			rtype:this.type == "Password" ? 'password' : "text"
		}
	},
	watch:{
		value:function(val,old){
			this.valueData = val;
		}
	},
	methods:{
		blur:function(){
			var data={field:this.name,value:this.valueData};
			this.submitCallBack(data);
		},
		entryInput:function(){
			this.blur();
		},
		submitCallBack:function(data){
			this.$emit("queryCallBack",data);
		}
	}
}
</script>
<style scoped>
	.form-group-input{display:block;height:28px;width:100%;text-indent:6px;}
</style>