<template>
	<div>
		<div class="look-image-bg" v-show='imageShow'>
		<div class='look-image-dialog'>
			<span class='look-image-close' @click='bgclose'><b>X</b></span>
			<div class='image-load'>
				<i class='is'></i>
				<img :src="showItem" class='image-icon'>
				<template v-if="imagesItems.length > 1">
					<span class="toLeft"><i class="fa fa-hand-o-left" @click="toLeft"></i></span>
					<span class="toRight"><i class="fa fa-hand-o-right" @click="toRight"></i></span>
				</template>
			</div>
		</div>
	</div>
	</div>
	
</template>
<script type="text/javascript">
	export default{
		props:{
			items:{type:Array,default:function(){return []}},
			show:{type:Boolean,default:false}
		},
		data(){
			return {
				imageHost:"",
				imagesItems:this.items,
				imageShow:this.show,
				currentItem:0,
			};
		},
		watch:{
			items:function(val,old){
				this.imagesItems = val ? val : this.items;
				this.imageShow = true;
			},
			show:function(val,old){
				this.imagesItems = this.items;
				this.imageShow = val == true ? true : false;
			}
		},
		computed:{
			showItem:function(){
				return this.imagesItems.length > 0 ? this.imageHost + this.imagesItems[this.currentItem] : "";
			}
		},
		mounted:function(){
			var This = this;
			var url =this.baseHost+"/index/upload-token?access_token="+this.readStorageItem('token');
			this.$http.get(url,{emulateJSON:true})
				.then(success=>{
					var result = success.body;
					result = this.formatData(result);
					if(result.status){
						This.imageHost = result.data.imageHost;	     
					}
				},error=>{});
		},
		methods:{
			bgclose:function(){
				this.imageShow = false;
				this.imagesItems = [];
				this.currentItem = 0;
				this.$emit("showCallBack",1);
			},
			toLeft:function(){
				if(this.currentItem == 0){
					this.currentItem = this.imagesItems.length -1;
				}else{
					this.currentItem--;
				}
			},
			toRight:function(){
				if(this.currentItem == this.imagesItems.length -1){
					this.currentItem = 0;
				}else{
					this.currentItem++;
				}
			}
		}
	}
</script>
<style scoped>
	.look-image-bg{position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:580}
	.look-image-dialog{position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,.5);overflow: hidden;}
	.image-load{height:80%;max-width:90%;display:block;text-align: center;margin:0px auto;vertical-align: middle;line-height:80%;margin-top:6%;position:relative;top:0px;left:0px;}
	.image-icon{max-width:100%;max-height:100%;vertical-align: middle;}
	.image-load .is{display:inline-block;height:100%;width:1px;vertical-align: middle;}
	.toLeft{position:absolute;top:50%;left:0px;height:40px;width:40px;line-height:40px;text-align: center;margin-top:-20px;font-size:40px;cursor:pointer;}
	.toLeft:hover{color:#fff;}
	.toRight{position:absolute;top:50%;right:0px;height:40px;width:40px;line-height:40px;text-align: center;margin-top:-20px;font-size:40px;cursor:pointer;}
	.toRight:hover{color:#fff;}
	.look-image-close{position:absolute;top: -40px;right: -40px;width: 80px;height: 80px;cursor:pointer;border-radius:50px;display:inline-block;background-color: rgba(0,0,0,.5);}
	.look-image-close b{position:absolute;bottom:14px;left:20px;font-size:16px;color:#fff;}
</style>