<template>
	<div class="look-image-bg">
		<div class='look-image-dialog' v-show='imageShow'>
			<span class='look-image-close' @click='bgclose'><b>X</b></span>
			<div class='image-load'>
				<i class='is'></i>
				<img :src="images[item]" class='image-icon'>
				<span class="toLeft"><i class="fa fa-hand-o-left" @click="toLeft"></i></span>
				<span class="toRight"><i class="fa fa-hand-o-right" @click="toRight"></i></span>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default{
		data(){
			return {
				imageHost:"",
				images:["/static/login_bg.jpg",'/static/logo.png'],
				imageShow:true,
				item:0,
			};
		},
		mounted:function(){
			var This = this;
			var url =this.baseHost+"/order/upload-token?access_token="+this.readStorageItem('token');
			this.$http.get(url,{emulateJSON:true})
				.then(success=>{
					var result = success.body;
					result = this.formatData(result);
					if(result.status){
						This.imageHost = result.data.imageHost;	     
					}
				},error=>{});
		},
		methods:{
			bgclose:function(){
				this.imageShow = false;
			},
			toLeft:function(){
				if(this.item == 0){
					this.item = this.images.length -1;
				}else{
					this.item--;
				}
			},
			toRight:function(){
				if(this.item == this.images.length -1){
					this.item = 0;
				}else{
					this.item++;
				}
			}
		}
	}
</script>
<style scoped>
	.look-image-bg{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:580}
	.look-image-dialog{position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,.5);overflow: hidden;}
	.image-load{height:80%;max-width:90%;display:block;text-align: center;margin:0px auto;vertical-align: middle;line-height:80%;margin-top:6%;position:relative;top:0px;left:0px;}
	.image-icon{max-width:100%;max-height:100%;vertical-align: middle;}
	.image-load .is{display:inline-block;height:100%;width:1px;vertical-align: middle;}
	.toLeft{position:absolute;top:50%;left:0px;height:40px;width:40px;line-height:40px;text-align: center;margin-top:-20px;font-size:40px;cursor:pointer;}
	.toLeft:hover{color:#fff;}
	.toRight{position:absolute;top:50%;right:0px;height:40px;width:40px;line-height:40px;text-align: center;margin-top:-20px;font-size:40px;cursor:pointer;}
	.toRight:hover{color:#fff;}
	.look-image-close{position:absolute;top: -40px;right: -40px;width: 80px;height: 80px;cursor:pointer;border-radius:50px;display:inline-block;background-color: rgba(0,0,0,.5);}
	.look-image-close b{position:absolute;bottom:14px;left:20px;font-size:16px;color:#fff;}
</style>