<template>
<div class='index-ui'>
	<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>
    <div id="main-content">
        <div class='main-content-cell'>
          <div class='node-cell-left clearfix'>
              <ul class='main-ul-items' v-if="items">
                  <li v-for="item,kitem in items">
                    <span>
                        <i :class="['fa',item.child ? (item.open ? 'fa-folder-open' : 'fa-folder') : 'fa-file']"  @click='openClose(item.id)'></i>
                        <label @click='selectItem(item.id)'>{{ item.name }}</label>
                    </span>
                    <ul v-if="item.child && item.open">
                        <li v-for="child,kchild in item.child">
                            <span>
                                <i :class="['fa', child.child ? (child.open ? 'fa-folder-open' : 'fa-folder') : 'fa-file']" @click='openClose(child.id)' ></i>
                                <label  @click='selectItem(child.id)'>{{ child.name }}</label>
                            </span>
                            <ul v-if="child.child && child.open">
                                <li v-for="c,kc in child.child">
                                    <span>
                                        <i :class="['fa', c.child ? (c.open ? 'fa-folder-open' : 'fa-folder') :'fa-file']" @click='openClose(c.id)'></i>
                                        <label  @click='selectItem(c.id)'>{{ c.name }}</label>
                                         <ul v-if="c.child && c.open">
                                            <li v-for="d in c.child">
                                                <span>
                                                    <i :class="['fa', d.child ? (d.open ? 'fa-folder-open' : 'fa-folder') :'fa-file']" @click='openClose(d.id)'></i>
                                                     <label @click='selectItem(d.id)'>{{ d.name }}</label>
                                                </span>
                                                 <ul v-if="d.child && d.open">
                                                        <li v-for="m in d.child">
                                                            <span>
                                                                <i class="fa fa-file"></i>
                                                                <label @click='selectItem(m.id)'>{{ m.name }}</label>
                                                            </span>
                                                        </li>
                                                </ul>
                                            </li>
                                         </ul>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                  </li>
                 
              </ul>
              <div class='make-controller'>
                    <span><i class="fa fa-plus" @click="addItem"></i></span>
                    <span><i class="fa fa-pencil fa-fw" @click='updateItem'></i></span>
                    <span><i class="fa fa-trash-o fa-lg" @click="delItem"></i></span>
                    <span><i class="fa fa-arrow-up" @click="upItem"></i></span>
                    <span><i class="fa fa-arrow-down" @click="downItem"></i></span>
                    <span><i class="fa fa-level-down trans-90" @click="leftItem"></i></span>
                    <span><i class="fa fa-level-down trans-270" @click='rightItem'></i></span>
              </div>
          </div>
          <div class="node-cell-right">
            <template v-for="fi,index in forms">
                <div class='form-input-group' v-if='fi.type == "input"'>
                    <label class='form-label'>{{ fi.label }}</label>
                    <div class='froup-items'>
                        <template  v-if="fi.readonly">
                            <input type='text' class='from-input no-input' name="fi.name" v-model="fi.value" readonly="true"/>
                        </template>
                        <template  v-else>
                            <input type='text' class='from-input' name="fi.name" @blur='blur(index)' v-model="fi.value"/>
                        </template>
                    </div>
                </div>
                <div class='form-input-group' v-if='fi.type == "switch"'>
                    <label class='form-label'>{{ fi.label }}</label>
                    <div class="froup-items">
                        <span class="switch-left switch-large " @click="switcLeft" :class="{ yesswitch:fi.value < 1}">ON</span><span class="switch-right switch-large " @click="switcRight" :class="{ yesswitch:fi.value > 0 }">OFF</span>
                    </div>
                </div>
                  
            </template>
             <div class='form-input-group error-group'>
                    {{ error }}
                </div> 
                <div class='form-input-group btn-group' v-show="disabled">
                    <button class="btn btn-default" type="submit"  @click="submitForm">{{ event }}</button>
                </div>
          </div>
        </div>
    </div>
</div>
</template>
<script>
import location from "../templates/location";
export default {
 components:{location},
  name: 'index',
  data () {
    return {
     topNode:"",
     list:[],
     route:"/node",
     levels:{},
     items:[],
     error:"",
     disabled:false,
     event:"提交",
     parent_id:0,
     current_id:0,
     url:"",
     forms:[
        {
            label:"父 级:",
            name:"parent_name",
            value:"无父级",
            type:"input",
            readonly:true,
        },
        {
            label:"名 称:",
            name:"name",
            value:"",
            type:"input",
            rules:["required"]
        },
        {
            label:"路 由:",
            name:"route",
            value:"",
            type:"input",
            rules:["required"]
        },
        {
            label:"激活:",
            name:"status",
            value:0,
            type:"switch",
        }
     ] 
    }
  },
  computed:{
    formsdata:function(){
        return this.forms;
    }
  },
  created:function(){
    var prefix = "system";
    var key = prefix+"_list";
        if(this.readStorageItem(key)){
            var node = JSON.parse(this.readStorageItem(key));
            this.list = node.list;
            this.topNode = node.topNode;
        }else{
            var This =this;
            var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
            this.$http.get(url,{emulateJSON:true})
                .then(
                    success=>{
                        var result = success.body;
                        result = this.formatData(result);
                        if(result.status){
                            This.list = result.data.list;
                            This.topNode = result.data.topNode;
                            if(This.list.length > 0){
                                This.writeStorageItem(key,JSON.stringify(result.data));
                            }
                        }
                    },
                    error=>{});
        }
  },
  mounted:function(){
    var This =this;
    var url = this.baseHost+"/node/index?access_token="+this.readStorageItem('token');
        this.$http.get(url,{emulateJSON:true})
        .then(
        success=>{
            var result = success.body;
            result = this.formatData(result);
            if(result.status){
                This.items = result.data;
            }
        },
        error=>{
        
        });
  },
  methods:{
    openClose:function(id){
        this.levels = {};
        var chose = this.loop(this.items,id,-1);
        var currentarr = Object.values(this.levels).reverse();
        switch(currentarr.length){
            case 1:
                this.items[currentarr[0]].open = !this.items[currentarr[0]].open;
            break;
            case 2:
                this.items[currentarr[0]]['child'][currentarr[1]].open = !this.items[currentarr[0]]['child'][currentarr[1]].open;
            break;
            case 3:
                this.items[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]].open = !this.items[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]].open;
            break;
            case 4:
            this.items[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]]['child'][currentarr[3]].open = !this.items[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]]['child'][currentarr[3]].open;
            break;
        }
    },
    selectItem:function(id){
        this.levels = {};
        var current = this.loop(this.items,id,-1);  
        this.current_id = current.id;
        var currentarr = Object.values(this.levels).reverse();
        this.forms[1].value = current.name;
        this.forms[2].value = current.route;
        this.forms[3].value = current.status;
        switch(currentarr.length){
            case 1:
                this.parent_id= 0;
                this.forms[0].value= "无父级";
            break;
            case 2:
                this.parent_id= this.items[currentarr[0]].id;
                this.forms[0].value= this.items[currentarr[0]].name;
            break;
            case 3:
                this.parent_id= this.items[currentarr[0]]['child'][currentarr[1]].id;
                this.forms[0].value= this.items[currentarr[0]]['child'][currentarr[1]].name;
            break;
            case 4:
                this.parent_id= this.items[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]].id;
                this.forms[0].value= this.items[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]].name;
            break;
        }
    },
    loop:function(data,id,index){
        index++;
        for (var i = 0; i < data.length; i++) {
            if(data[i].id == id){
                this.$set(this.levels,"level_"+index,i);
                return data[i];
            }else{
                if(data[i].child){
                    var item = this.loop(data[i].child,id,index);
                    if(item){
                        this.$set(this.levels,"level_"+index,i);
                        return item;
                    }
                }
            }    
        };
        return null;
    },
    switcLeft:function(){
        this.forms[3].value= 0;
    },
    switcRight:function(){
        this.forms[3].value= 1;
    },
    blur:function(index){
        var item = this.forms[index];
        if(item.hasOwnProperty("rules")){
            if(this.contains(item.rules,'required')){
                    if(!item.value){
                        this.showError(item.label+"必须填写");
                        return false;
                    }
            }
        }
    },
    submitForm:function(event){
        var data = {
            parent_id:this.parent_id,
            id:this.current_id
        };
        for(var i= 0;i < this.forms.length;i++){
                var field = this.forms[i];
                if(field.hasOwnProperty('rules') && !this.forms[i].readonly){
                    if(this.contains(field.rules,'required')){
                        if(!field.value){
                            this.showError(field.label +"必须填写");
                            return false;
                        }
                    }
                }
                 switch(field.type){
                        case "input":
                        data[field.name] = field.value;
                        break;
                        case "switch":
                        data[field.name] = field.value;
                        break;
                    }
            }
       var This = this;
       this.disabled = false;
       this.action ="操作中....";
        this.$http.post(
        this.url,
        data,
        {
          emulateJSON:true
        }).then(
        success=>{
            var result = success.body;
            result = this.formatData(result);
            if(result.status){
                This.loadingItem(result.data);
            }
            This.action ="提交";
        },
        error=>{
        
        });
    },
    showError:function(errMessage){
            this.error = errMessage;
            var This = this;
            setTimeout(function(){
                    This.error = "";
                },3000);
    },
    addItem:function(){
        this.parent_id = this.current_id;
        this.current_id = 0;
        this.forms[0].value = this.forms[1].value;
        this.forms[1].value = "";
        this.forms[2].value = "";
        this.forms[3].value = 0;
        this.formatUrl('create');
        this.disabled = true;
    },
    loadingItem:function(items){
        this.parent_id = 0;
        this.current_id = 0;
        this.forms[0].value = "";
        this.forms[1].value = "";
        this.forms[2].value = "";
        this.forms[3].value = 0;
        this.disabled = false;
        this.items = items;
    },
    updateItem:function(){
        this.formatUrl('update');
        this.disabled = true;
    },
    delItem:function(){
       this.ajaxAction('delete');
    },
    upItem:function(){
        this.ajaxAction('up');
    },
    downItem:function(){
        this.ajaxAction('down');
    },
    leftItem:function(){
        this.ajaxAction('left');
    },
    rightItem:function(){
        this.ajaxAction('right');
    },
    formatUrl:function(action){
        this.url = this.baseHost+"/node/"+action+"?access_token="+this.readStorageItem('token');     
    },
    ajaxAction:function(action){
        this.formatUrl(action);
       var This = this;
       var data={id:this.current_id};
        this.$http.post(
        this.url,
        data,
        {
          emulateJSON:true
        }).then(
        success=>{
            var result = success.body;
            result = this.formatData(result);
            if(result.status){
                This.loadingItem(result.data);
            }
        },
        error=>{
        
        });
    }
  }
}
</script>

<style scoped>
.form-input-group{margin-bottom:10px;}
.node-cell-left .main-ul-items{height:660px;}
    .trans-90{transform:rotate(90deg);}
    .trans-270{transform:rotate(270deg);}

        .chosen-results{
        position: relative;max-height: 240px;padding: 0;margin: 0;overflow-x: hidden;overflow-y: auto;
        box-shadow: 0 2px 12px rgba(15,5,10,0.14);
    }

    .main-ul-items::-webkit-scrollbar {width:10px;height: 1px;}
    .main-ul-items::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
</style>