<template>
  <div class="main">
    <div class='main-head'>
      <div class='logo-box'>
        <img src="/static/logo.png" class='logo'>
      </div>
      <span class="main-title">{{ title }}</span>
      <div class="main-item-list" v-on:mouseleave="mouseout">
        <img src="/static/name-art_icon.png" class="user-icon" @click='showChild'>
        <span class='user-info-name'>{{ nickname }}</span>
        <div class='pup-head' :style="{ display:isHide }">
          <img src="/static/trarr_icon.png" class='icon-sj'>
           <ul>
                    <li class="list-li" @click="updatePassword">
                      <img src="/static/xg-password-icon.png">
                      <span>修改密码</span>
                    </li>
                    <li class="list-li" @click="signout">
                      <img src="/static/sign-out_icon.png">
                      <span>退出登录</span>
                    </li>
          </ul>
        </div>
      </div>
    </div>
    <router-view/>
    <div class='form-main-shade' v-show="passwordShow">
    <div class='form-shade'>
    </div>
    <div class='form-main'>
      <div class='form-label'>修改密码<i class="fa fa-close" @click='shadePasswordClose'></i></div>
      <div class='form-sub-main'>
        <div class='form-action'>
          <Linput v-bind:label="formData.label"  v-bind:name="formData.name" v-bind:type="formData.type" v-bind:value="formData.value" v-on:callInput="callPasswordBack" v-bind:rules="formData.rules" v-bind:show="passwordShow"></Linput>
        </div>
        <div class='form-btn-group'>
          <span class='form-btn-group-error' v-show="passwordError">{{passwordError}}</span>
          <span class='form-btn-group-sure' @click="passwordSubmit">确定</span>
          <span class='form-btn-group-reset' @click='shadePasswordClose'>取消</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import Linput from "./templates/Linput";
export default {
  name: 'Layouts',
  components:{Linput},
  data () {
    return {
      title: '管理系统',
      isHide:"none",
      passwordShow:false,
      passwordError:"",
      formData:{
        label:"新密码:",
        name:"password",
        type:"Password",
        value:"",
        rules:{required:true}
      }
    }
  },
  computed:{
    nickname:function(){
      return this.readStorageItem("nickname") ? this.readStorageItem("nickname") : "管理员";
    }
  },
  methods:{
    showChild:function(){
      this.isHide = "block";
    },
    mouseout:function(){
      this.isHide = 'none';
    },
    signout:function(){
      var This = this;
      var url =this.baseHost+"/login/sign-out?access_token="+this.readStorageItem('token');
       this.$http.get(
        url,
        {
          emulateJSON:true
        }
        ).then(
        success=>{
          This.login();
        },
        error=>{
        
        });
    },
    updatePassword:function(){
      this.formData.value ="";
      this.passwordShow = true;
    },
    callPasswordBack:function(event){
      if(event.field=='error'){
          this.showPasswordMessage(event.message);
      }else{
          this.formData.value = event.value;
      }
    },
    shadePasswordClose:function(){
      this.passwordShow = false;
    },
    passwordSubmit:function(){
      if(!this.formData.value){
          this.showPasswordMessage(this.formData.label+" 不能为空");
          return false;
      }
      var This = this;
      var url =this.baseHost+"/login/update-password?access_token="+this.readStorageItem('token');
       this.$http.post(
        url,
        {password:this.formData.value},
        {
          emulateJSON:true
        }
        ).then(
        success=>{
          var result = success.body;
                result = this.formatData(result);
                if(result.status){
                  This.shadePasswordClose();
                }else{
                  if(result.message == "user"){
                    This.login();
                  }else{
                    This.showPasswordMessage(result.message);
                  }
                  
                }
        },
        error=>{
        
        });
    },
    showPasswordMessage:function(error){
      this.passwordError = error;
      var This = this;
      setTimeout(function(){
        This.passwordError="";
      },3000);
    }
  }
}
</script>
<style>
@import "../assets/main.css";
@import "font-awesome/css/font-awesome.css"
</style>
