.login-bg{width:100%;height:100%;background:#2596f3 url("/static/login_bg.jpg") no-repeat center top;background-size:cover;}
.login-ui-logo{width:100px;}
.login-form-ui{width:320px;position:fixed;left:50%;margin-left:-160px;top:260px;text-align: center;}
.login-title{height: 47px;line-height: 47px;text-align: center;margin-bottom: 8px;color: rgba(255, 255, 255, 0.8);font-size:22px;}
.form-main{border-radius:4px;overflow: hidden;line-height: 1}
.form-main-group{background:#fff;color:#4d4d4d;font-size:16px;position:relative;}
.form-main-group:first-child{margin-bottom:1px;}
.form-main-group label{position: absolute;left:21px;line-height:48px;}
.form-main-group .group-input{display:block;float:none;clear:both;border:0;width:100%;height:48px;line-height:48px;text-indent: 21px;}
.remember-group{height:40px;}
.remember-group label{display:block;height:40px;line-height: 40px;text-align:left;color:#fff;}
.remember-group label span{float: left;}
.remember-group .checkbox{width:16px;height:16px;background:#fff;display:inline-block;border-radius:2px;margin-top:12px;margin-right:2px;position: relative;cursor:pointer;}
.remember-group .current:after{content: '';position: absolute;border:2px solid #2a9cf7;
    width: 6px;height: 3px;background: transparent;top: 4px;left: 4px;border-top: none;border-right: none;transform: rotate(-45deg);}
.btn-ajax{display: block;height: 48px;line-height: 48px;text-align: center;font-size: 18px;
	color: #ffffff;background: #ff9e17;border-radius: 4px;overflow: hidden;display: block;}
.logining{background:#eaeaea;color:#fff;}
.error-message{color: #ff402b;height: 20px;margin: 6px 0 0 0;}
