body{height:100%;}
.main{background:#f2f3f5;height:100%;}
.main-head{height:64px;line-height: 64px;background:#fff;border-bottom: 1px solid #DBDBDB;box-shadow: 0 2px 5px rgba(15,5,10,0.14);display: block;width: 100%;}
.main-head .logo-box{width:44px;height:44px;border:1px solid rgba(0,0,0,0.1);margin-top:10px;margin-left: 20px;display:inline-block;overflow:hidden;}
.main-head .logo{width:100%;}
.main-head .main-title{color:#484860;font-size:18px;position: absolute;top:0px;margin-left:8px;}
.pup-head{box-shadow: 0 2px 12px rgba(15,5,10,0.14);position: absolute;left:-54px;
width: 140px;background: #FFF;overflow: visible;line-height: 1;text-align: center;border-radius: 3px;}
.pup-head .icon-sj{width: 12px;height: 6px;position: relative;top: -12px;z-index:100;}
.main-item-list{display:inline-block;float:right;margin-right:8px;position:relative;top:0px;left:0px;z-index:100}
.main-item-list .user-icon{margin-top:14px;width:32px;height:32px;}
.main-item-list .user-info-name{font-size:16px;color:#333;display:inline-block;height:100%;vertical-align: top;}
li{list-style:none;}
.main-item-list .list-li{height:40px;line-height:40px;cursor:pointer;}
.main-item-list .list-li:hover{background:#f2f3f5}
.main-item-list img{width:28px;width:28px;margin-top:5px;}
.main-item-list .list-li span{vertical-align: top;display:inline-block;height:40px;font-size:16px;color:#666;}




#location{background:#fff;box-shadow: 0 2px 5px rgba(15,5,10,0.14);height:40px;}
#location li{height:40px;line-height:40px;float:left;color:#fff;padding:0px 10px;margin-right:8px;}
#location li:first-child{background:#7f828a;}
#location li i{color:#fff;cursor:pointer;}
#location li .child-node{display:inline;padding:6px 10px;background:#1fa67a;border-radius:4px;}
#location li .child-node:hover{background:#ff852e}
#location li .currentClass{background:#ff852e}
#location li .child-node a{color:#fff;}
.index-ui{margin-top:10px;}

#main-content{margin:10px 20px;height:100%;background:#fff;min-height:700px;box-shadow: 0 2px 5px rgba(15,5,10,0.14);padding:10px;}
.main-content-cell{height:100%;display:block;position:relative;top:0px;left:0px;z-index:98;}
.cell-item{height:40px;line-height:40px;}
.node-cell-left{height:700px;border:1px solid #f3f3f3;width:35%;}
.node-cell-right{height:700px;border:1px solid  #f3f3f3;width:60%;position: absolute;right:0px;top:0px;z-index:99;}
.node-cell-left ul{padding-left:20px;}
.node-cell-left .main-ul-items{height:620px;padding:20px;overflow-y:auto;overflow-x:hidden;}
.node-cell-left ul i{margin-right:4px;color:#ff852e;cursor:pointer;}
.node-cell-left ul label{cursor:pointer;}
.node-cell-left ul li{min-height:28px;line-height:28px;font-size:16px;}
.node-cell-left .make-controller{height:40px;line-height:40px;background:#f3f3f3;text-align: center;}
.make-controller span{margin-right:10px;cursor: pointer;}
.make-controller span:hover{color:#ff852e}
/* 表格 */
.list-table{margin-top:10px;background:#fff;padding:20px;}
.list-table .table-box{overflow-x:auto;padding-bottom:100px;}
.list-table .table-box::-webkit-scrollbar {width:1px;height: 10px;}
.list-table .table-box::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
.table-main{text-align: center;padding:0px;background:#555;}

	.table-main tr:nth-child(even){background:#fff;}
	.table-main tr:nth-child(odd){background:#f5f5f5;}
	.table-main th,.table-main td{padding:10px;min-width:120px;}
	.table-main tr.lineThrough{position: relative;}
.table-main tr.lineThrough td{text-decoration:line-through;color:red;}

	.table-main tr th:first-child{width:100px;}
	.table-main tr td:first-child{width:100px;}
	.role-list-table{margin-top:10px;background:#fff;padding:20px;}
	.role-add-btn{line-height:30px;margin-bottom:6px;cursor:pointer;}
	.role-add-btn span{background:#036;padding:6px 20px;color:#fff;border-radius:4px;}
	.role-add-btn span:hover{background:#ff852e}

.form-input-group{height:30px;line-height:30px;font-size:16px;padding:6px}
	.form-label{display:inline-block;height:100%;padding:0px 10px;}
	.froup-items{display:inline-block;width:60%;}
	.from-input{height:30px;border:1px solid #ccc;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;
	color:#222;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);text-indent:8px;border-radius:0px;
	}
	.from-input::selection{text-shadow: none;background:#b3d4fc;}
	.no-input{background:#e5e5e5;}

.switch-checkbox{display:none;}
.switch-large{display:inline-block;height:100%;padding:0px 10px;background:#f5f5f5;cursor:pointer;}
.yesswitch{background:#005fcc;color:#fff;}

.btn-group{text-align:center;}
.btn-default{padding:6px 40px;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,.2);background-color: #1a4f85;border-color: #164270;}
.error-group{text-align: center;color:red;font-size:12px;}

/* 遮罩 */
.form-main-shade{position:absolute;top:0px;left:0px;z-index:200;width:100%;height:100%;}
.form-main-shade .form-shade{width:100%;height:100%;background:#222;opacity:0.5;}
.form-main-shade .form-main{position:absolute;top:50%;left:50%;width:900px;max-height:700px;margin-top:-350px;margin-left:-450px;z-index:210;background-color: #fff;
    box-shadow: 0 1px 4px #666;border-radius: 3px;}
 .form-main-shade .form-label{height:60px;line-height:60px;border-bottom:1px solid #e6e6e6;display:block;font-size:18px;color:#292929;box-sizing:border-box;
 	position: relative;top:0px;left:0px;}
.form-main-shade .form-label .fa-close{position:absolute;right:14px;top:14px;color:#b3b3b3;font-size:32px;cursor:pointer;}
.form-main-shade .form-label .fa-close:hover{color:#ff852e}
.form-main-shade .form-sub-main{max-height:640px;}
.form-sub-main .form-action{max-height:600px;overflow-y:auto;overflow-x:hidden;padding:20px;min-height:200px;}
.form-sub-main .form-action::-webkit-scrollbar {width:10px;height: 1px;}
.form-sub-main .form-action::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
.form-sub-main .form-btn-group{height:40px;box-sizing:border-box;border-top:1px solid #e5e5e5;}
.form-sub-main .form-btn-group .form-btn-group-sure,.form-btn-group-reset{padding:4px 14px;float:right;background:#eee;color:#333;
	margin-right:10px;margin-top:6px;border:1px solid #ccc;font-size:12px;cursor:pointer;}
.form-sub-main .form-btn-group .form-btn-group-error{padding:4px 14px;background:#eee;color:#333;margin-right:10px;margin-top:6px;border:1px solid #e1e1e1;font-size:12px;
	float:left;margin-left:14px;}

/* 表单 */
.form-group{height:30px;line-height:30px;width:100%;font-size:18px;margin-bottom:10px;}
.form-group .form-group-label{display: inline-block;width: 100px;text-align: right;}
.form-group-div{display:inline-block;width:80%;text-align: left;vertical-align: top}
/* 搜索 */
.form-group-y{height:30px;line-height:30px;width:100%;font-size:18px;}
.form-group-div-y{display:inline-block;width:100%;text-align: left;vertical-align: top}
/* 修改操作组 */
.controller-btn-group{padding:6px 12px;font-size:12px;cursor:pointer;border:1px solid #fff;border-radius:4px;margin-right:6px;background:#eee;}
.controller-detail{background:#1E90FF;color: #fff;}
.controller-update{background:#03c;color: #fff;}
.controller-delete{background:#d2322d;color: #fff;}
.controller-return{background:#87CEEB;color: #fff;}
.controller-redirect{background:#483D8B;color: #fff;}

.controller-service{background:#020202;color: #fff;}
.controller-card{background:#1fa67a;color:#fff;}
/* 分页 */
.pages{height:30px;line-height:30px;margin:10px 0px;}
	.pages-list{float:right;}
	.pages-list li{float: left;padding:0px 12px;border:1px solid #1fa67a;margin-right:4px;border-radius:2px;cursor:pointer;}
	.pages-list li:hover{background:#1fa67a;color:#fff;}
	.pages-list li.current{background:#1fa67a;color:#fff;}


.fa-image{cursor: pointer;}


.top-ul-class{width:45%;float:left;padding:10px;margin-left:10px;margin-top:10px;border:1px dashed #1fa67a;}
.top-ul-class li{line-height:20px;font-size:16px;}
.top-ul-class .parent-ul{margin-left:40px;}

/* 清除浮动 */
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"";overflow:hidden;display:block;}
.clearfloat{clear:both} 


