<template>
  <div class="login-bg">
    <div class='login-form-ui'>
       <img src="/static/logo.png" class="login-ui-logo"/>
       <h2 class='login-title'>管理系统</h2>
       <div class='form-main'>
          <div class='form-main-group'>
            <label>{{ un_info }}</label>
            <input class="group-input" name='username' type='text' v-model="username" v-on:focus="focus(1)" v-on:blur="blur(1)">
         </div>
         <div class='form-main-group'>
            <label>{{ pwd_info }}</label>
            <input class="group-input" name='password' type='password' v-model="password" v-on:focus="focus(2)" v-on:blur="blur(2)">
         </div>
         <div class="error-message">{{ error_message }}</div>
         <div class="remember-group">
            <label><span class='checkbox' v-bind:class="{current:remember}" @click="choose" ></span><span>记住密码</span></label>
         </div>
         <a href="javascript: void(0);" class="btn-ajax" v-bind:class="{logining:disabled}"  @click='formSub'>{{ login }}</a>
       </div>
     
    </div>
  </div>
</template>

<script>

export default {
  name: 'login',
  data () {
    return {
      un_info:"账号",
      username:"",
      pwd_info:"密码",
      password:"",
      remember:false,
      error_message:"",
      hidden_time:3000,
      disabled:false,
      login:"登录"
    }
  },
  created:function(){
      
  },
  mounted:function(){
     
  },
  methods:{
    focus:function(data){
      switch(data){
        case 1:
        this.un_info="";
        break;
        case 2:
        this.pwd_info ="";
        break;
      }
    },
    blur:function(data){
      switch(data){
          case 1:
            if(!this.username){
                this.un_info ="账号";
            }
          break;
          case 2:
            if(!this.password){
                this.pwd_info ="密码";
            }
          break;
      }
    },
    choose:function(){
      this.remember = !this.remember;
    },
    formSub:function() {
      if(this.disabled){return false;}
      var This = this;
      if(!this.username){
          this.error_message ="登录失败,账号能为空!";
          this.hideMessage();
          return false;
      }
      if(!this.password){
         this.error_message ="登录失败,密码能为空!";
         this.hideMessage();
         return false;
      }
      
      var url = this.baseHost+"/login/sign-in";
      var This = this;
      this.disabled = true;
      this.login ="登录中...";
      this.$http.post(
        url,
        {
          username:this.username,
          password:this.password,
          remember:this.remember ? 1 : 0
        },{
          emulateJSON:true
        }
        ).then(
        success=>{
          var result = success.body;
          if(result.data.status){
              This.writeStorageItem('token',result.data.data.token);
              This.writeStorageItem('nickname',result.data.data.username);
              This.$router.push("/");
          }else{
              This.error_message =result.data.message;
              This.hideMessage();
          }
          This.disabled = false;
          This.login ="登录";
        },
        error=>{
        
        });

    },
    hideMessage:function(){
       var This = this;
      setTimeout(function(){
            This.error_message = "";
          },this.hidden_time);
    }
  }
}
</script>
<style>
@import "../../assets/login.css";
</style>