<template>
<div class='index-ui'>
	<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>
	<div class="list-table">
		<template v-if="controller.action && contains(controller.action,'create')">
		<div class="role-add-btn" @click='addItem'><span><i class="fa fa-plus"></i>&nbsp;添加</span></div>
		</template>
		<div class='table-box'>
			<table border="0" width="100%" class='table-main' cellspacing="1px" cellpadding="0">
			  	<tr>
				  	<template v-for="field in fields">
				    	<th>{{field.label}}</th>
				    </template>
				    <template v-if="controller.action">	
				    	<th>{{controller.label}}</th>	
				   	</template>
			  	</tr>
		  		<template v-for="item,findex in items">
			  		<tr>
						<template v-for="field in fields">
					  		<template v-if="field.type == 'String'">
							<td v-html="item[field.field]"></td>
					   		</template>
					   		<template v-else-if="field.type == 'Switch'">
								<template v-for="formitem in formFields">
									<template v-if='formitem.name == field.field'>
										<template v-for='opt in formitem.options'>
											<template v-if="opt.value == item[field.field]">
												<td v-html="opt.label"></td>
											</template>
										</template>
									</template>
								</template>
					   		</template>
				   		</template>
				   		<template v-if="findex == 0">
				   			<td></td>
				   		</template>
				   		<template v-else>
				   			<template v-if="controller.action">
					    	<td style="display:inline-block;white-space:nowrap">
					    		<span v-if="contains(controller.action,'update')" @click="btnUpdate(findex)" class='controller-btn-group controller-update'>修改</span>
								<span v-if="contains(controller.action,'delete')" @click="btnDelte(findex)" class='controller-btn-group controller-delete'>删除</span>
								<span v-if="contains(controller.action,'auth')" @click="btnAuth(findex)" class='controller-btn-group controller-update'>权限</span>
					    	</td>
					   	</template>
				   		</template>
				   		
			   		</tr>
		    	</template>
			</table>
		</div>
		
	</div>
	<div class='form-main-shade' v-show="isShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>添加<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action'>
					<template v-for="form in formFields">
						<template v-if="form.type == 'ChosenSelect'">
							<Lchosenselect v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:show="isShow" v-bind:rules="form.rules" v-bind:options="items"></Lchosenselect>
						</template>
						<template v-if="form.type == 'String'">
							<Linput v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:show="isShow" v-bind:rules="form.rules"></Linput>
						</template>
						<template v-if="form.type == 'Switch'">
							<Lswitch v-bind:label="form.label" v-bind:name="form.name" v-bind:value="form.value" v-on:callInput="callBack" v-bind:show="isShow" v-bind:options="form.options"></Lswitch>
						</template>
						<template v-if="form.type == 'Ratio'">
							<div class='form-group' v-show='incomeShow'>
								<label class="form-group-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<div class="form-group-div">
									<label v-for="o in form.options" class='income-ratio-label'>{{o.label}}<input :name="o.name" v-model="o.value" class='income-ratio-input'/></label>
								</div>
							</div>
						</template>
					</template>

				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="formSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
	</div>
<!-- 权限 -->
	<div class='form-main-shade' v-show="authShow">
		<div class='form-shade'>
		</div>
		<div class='form-main'>
			<div class='form-label'>权限管理<i class="fa fa-close" @click='shadeClose'></i></div>
			<div class='form-sub-main'>
				<div class='form-action clearfix'>
					<template v-for="auth in authData">
						<ul class='top-ul-class'>
							<li><p><input type='checkbox' :checked="contains(selectIds,auth.id)" v-on:click='checkChange(auth.id)'/>&nbsp;{{auth.name}}</p>
							<template v-if="auth.child">
								<ul class='parent-ul'>
								<template v-for="au in auth.child">
									<li><p><input type='checkbox' :checked="contains(selectIds,au.id)" v-on:click='checkChange(au.id)'/>&nbsp;{{au.name}}</p>
										<template v-if="au.child">
											<ul class='parent-ul'>
											<template v-for="a in au.child">
												<li><p><input type='checkbox' :checked="contains(selectIds,a.id)" v-on:click='checkChange(a.id)'/>&nbsp;{{a.name}}</p>
													<template v-if="a.child">
														<ul class='parent-ul'>
															<template v-for="o in a.child">
																<li><p><input type='checkbox' :checked="contains(selectIds,o.id)" v-on:click='checkChange(o.id)'/>&nbsp;{{o.name}}</p></li>
															</template>
														</ul>
													</template>
												</li>
											</template>
											</ul>
										</template>
									</li>
								</template>
								</ul>
							</template>
							</li>
						</ul>
					</template>
					<div class='clearfloat'></div>
				</div>
				<div class='form-btn-group'>
					<span class='form-btn-group-error' v-show="error">{{error}}</span>
					<span class='form-btn-group-sure' @click="authSubmit">确定</span>
					<span class='form-btn-group-reset' @click='shadeClose'>取消</span>
				</div>
			</div>
		</div>
	</div>
</div>
</template>
<script>
import location from "../templates/location";
import Linput from "../templates/Linput";
import Lswitch from "../templates/Lswitch";
import Lchosenselect from "../templates/Lchosenselect";
export default{
	components:{location,Linput,Lswitch,Lchosenselect},
	data(){
		return {
			topNode:"",
			route:"/role",
			list:[],
			fields:[],
			controller:{},
			items:[],
			id:0,
			choseItem:-1,
			isShow:false,
			authShow:false,
			incomeShow:false,
			error:"",
			formFields:[],
			formFieldsInit:[],
			formData:{},
			authData:"",
			selectIds:[],
			levels:[]
		};
	},
	created:function(){
	 	var prefix = "role";
    	var key = prefix+"_list";
        if(this.readStorageItem(key)){
            var node = JSON.parse(this.readStorageItem(key));
            this.list = node.list;
            this.topNode = node.topNode;
        }else{
            var This =this;
            var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
            this.$http.get(url,{emulateJSON:true})
                .then(
                    success=>{
                        var result = success.body;
                        result = this.formatData(result);
                        if(result.status){
                            This.list = result.data.list;
                            This.topNode = result.data.topNode;
                            if(This.list.length > 0){
                                This.writeStorageItem(key,JSON.stringify(result.data));
                            }
                        }
                    },
                    error=>{});
        }
  	},
	mounted:function(){
		var This =this;
	    var url = this.baseHost+"/role/index?access_token="+this.readStorageItem('token');
	        this.$http.get(url,{emulateJSON:true})
	        .then(
	        success=>{
	            var result = success.body;
	            result = this.formatData(result);
	            if(result.status){
	                This.formFields = result.data.formFields;
	                This.formFieldsInit = result.data.formFields;
	                This.items =result.data.items;
	                This.controller = result.data.controller;
	                This.fields = result.data.fields;
	                for (var i = 0; i < This.formFields.length; i++) {
						var field = This.formFields[i];
						This.$set(This.formData,field.name,field.value);
					};
	            }
	        },
	        error=>{
	        
	        });
	},
	computed:{
		authHtml:function(){
			return this.formatDataToHtml(this.authData,0);
		}
	},
	methods:{
		formatDataToHtml:function(data,index){
			var html ='';
			if(data){
				for (var i = 0; i < data.length; i++) {
					if(index == 0){
						html += "<ul class='top-ul-class'>";
					}else{
						html += "<ul class='parent-ul'>";
					}
					html +="<li><input type='checkbox' v-on:click='checkChange("+data[i].id+")'/>&nbsp;"+data[i].name+"</li>";
					if(data[i].child){
						html += this.formatDataToHtml(data[i].child,index + 1);
					}
					html +='</ul>';
				};
			}
			return html;
		},
		addItem:function(){
			this.formFields = this.formFieldsInit;
			this.id = 0;
			this.choseItem = -1;
			this.isShow = true;
		},
		shadeClose:function(){
			this.isShow = false;	
			this.authShow = false;	
			this.id = 0;
			this.choseItem = -1;	
			this.selectIds = [];
		},
		callBack:function(event){
			if(event.field == 'error'){
				this.showMessage(event.message);
				return false;
			}
			if(event.field == "income_status"){
				if(event.value == 2){
					this.incomeShow = true;
				}else{
					this.incomeShow = false;
				}
			}
			this.formData[event.field] = event.value;
		},
		formSubmit:function(){
			for(var i = 0;i < this.formFields.length;i++){
				var field = this.formFields[i];
				switch(field.type){
					case "String":
						if(field.hasOwnProperty('rules')){
							if(field.rules.hasOwnProperty("required") && field.rules.required){
								if(!this.formData[field.name]){
									this.showMessage(field.label + "不能为空!");
									return false;
								}
							}
							if(field.rules.hasOwnProperty("number")){
								if(!/^\d+(?=\.{0,1}\d+$|$)/.test(this.formData[field.name])){
									this.showMessage(field.label + "必须为数字!");
									return false;
								}
							}
						}
					break;
					case 'ChosenSelect':
						if(field.hasOwnProperty('rules')){
							if(field.rules.hasOwnProperty("required") && field.rules.required){
								if(!this.formData[field.name]){
									this.showMessage(field.label + "必须选择!");
									return false;
								}
							}
						}
					break;
					case 'Ratio':
						if(this.formData.income_status == 2){
							for (var j = 0; j < field.options.length; j++) {
								var option= field.options[j];
								if(option.value < 0 || option.value > 1){
									this.showMessage(option.label + "比例错误,不能大小1,小于0！");
									return false;
								}
							};
							for (var j = 0; j < field.options.length; j++) {
								var option= field.options[j];
								this.formData[field.name][option.name] = option.value;
							};
						}
					break;
				}
			}
			var This =this;
			var url = this.formatUrl('create');
			var formData = this.formData;
			if(this.id > 0){
				url = this.formatUrl('update');
				formData['id'] = this.id;
			}
			this.$http.post(url,formData,{emulateJSON:true})
			.then(success=>{
					var result = success.body;
		            result = this.formatData(result);
		            if(result.status){
		            		This.isShow = false;
		            	if(This.id > 0){//修改
		            		This.items[This.choseItem] = result.data;
							This.id = 0;
							This.choseItem = -1;
		            	}else{//添加
							This.items = result.data;
		            	}
		            }else{
		            	This.showMessage(result.message);
		            }
		            
				},
				error=>{});
		},
		btnUpdate:function(index){
			var data = this.items[index];
			this.choseItem = index;
			for (var i = 0; i < this.formFields.length; i++) {
				var fields = this.formFields[i];
				switch(fields.type){
					case "ChosenSelect":
					case "Switch":
					this.formFields[i].value = parseInt(data[fields.name]);
					this.formData[fields.name] = parseInt(data[fields.name]);

					break;
					case "String":
						this.formFields[i].value = data[fields.name].replace(/&nbsp;/gi,'');
						this.formData[fields.name] = data[fields.name].replace(/&nbsp;/gi,'');
						break;
					case "Ratio":
						this.formFields[i].value = data['income_ratio_origin'];
						if(data['income_ratio_origin'] && data['income_status'] == 2){
							this.formData[fields.name] = data['income_ratio_origin'];
							this.incomeShow = true;
						}
						
					break;
				}	
			};
			this.isShow = true;
			this.id = data.id;
		},
		btnDelte:function(index){
			if(window.confirm("你确定要删除该数据?")){
			var This = this;
			var item = this.items[index];
			var url = this.formatUrl('delete');
			this.$http.post(url,{id:item.id},{emulateJSON:true})
			.then(success=>{
					var result = success.body;
		            result = this.formatData(result);
		            if(result.status){
		            	This.items.splice(index,1);
		            }else{
		            	alert(result.message);
		            }
		            
				},
				error=>{});
			}
		},
		formatUrl:function(action){
        	return this.baseHost+"/role/"+action+"?access_token="+this.readStorageItem('token');     
    	},
		showMessage:function(error){
			this.error = error;
			var This = this;
			setTimeout(function(){
				This.error="";
			},3000);
		},
		btnAuth:function(index){
			this.choseItem = index;
			var url =this.formatUrl('auth');
			var formData = {id:this.items[index].id,make:"get"};
			var This = this;
			this.selectIds = this.items[index].auth ? this.items[index].auth.split(",") : [];
			if(this.authData.length < 1){
			this.$http.post(url,formData,{emulateJSON:true})
						.then(success=>{
								var result = success.body;
					            result = this.formatData(result);
					            if(result.status){
					            	This.authData = result.data;
					            }else{
					            	
					            }
					            
							},
							error=>{});
			}
			This.authShow = true;
			
		},
		checkChange:function(id){
			this.levels = {};
			this.loop(this.authData,id,-1);
			if(this.contains(this.selectIds,id)){
				 var currentarr = Object.values(this.levels).reverse();
				 var item = {};
				switch(currentarr.length){
					case 1:
						item = this.authData[currentarr[0]];
						break;
					case 2:
						item = this.authData[currentarr[0]]['child'][currentarr[1]];
						break;
					case 3:
						item = this.authData[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]];
						break;
					case 4:
						item = this.authData[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]]['child'][currentarr[3]];
						break;
				}
				this.descLoop(item);
				switch(currentarr.length){
					case 2:
						this.preDesc(this.authData[currentarr[0]]);
						break;
					case 3:
						this.preDesc(this.authData[currentarr[0]]['child'][currentarr[1]]);
						this.preDesc(this.authData[currentarr[0]]);
						break;
					case 4:
						this.preDesc(this.authData[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]]);
						this.preDesc(this.authData[currentarr[0]]['child'][currentarr[1]]);
						this.preDesc(this.authData[currentarr[0]]);
						break;
				}
			}else{
				 var currentarr = Object.values(this.levels).reverse();
				 var item = {};
				switch(currentarr.length){
					case 1:
						item = this.authData[currentarr[0]];
						break;
					case 2:
						item = this.authData[currentarr[0]]['child'][currentarr[1]];
						this.preAdd(this.authData[currentarr[0]]);
						break;
					case 3:
						item = this.authData[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]];
						this.preAdd(this.authData[currentarr[0]]['child'][currentarr[1]]);
						this.preAdd(this.authData[currentarr[0]]);
						break;
					case 4:
						item = this.authData[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]]['child'][currentarr[3]];
						this.preAdd(this.authData[currentarr[0]]['child'][currentarr[1]]['child'][currentarr[2]]);
						this.preAdd(this.authData[currentarr[0]]['child'][currentarr[1]]);
						this.preAdd(this.authData[currentarr[0]]);
						break;
				}
				this.addLoop(item);
			}
			console.log(this.selectIds);
		},
		addLoop:function(item){
			if(!this.contains(this.selectIds,item.id)){
				this.selectIds.push(item.id);
			}
			if(item.child){
				for (var i = 0; i < item.child.length; i++) {
					this.addLoop(item.child[i]);
				};
			}
		},
		preAdd:function(item){
			if(!this.contains(this.selectIds,item.id)){
				this.selectIds.push(item.id);
			}
		},
		descLoop:function(item){
			for (var i = 0; i < this.selectIds.length; i++) {
					if(this.selectIds[i] == item.id){
						this.selectIds.splice(i,1);
					}
			};
			if(item.child){
				for (var i = 0; i < item.child.length; i++) {
					this.descLoop(item.child[i]);
				};
			};
		},
		preDesc:function(item){
			console.log(item);
			if(item.child){
				var flag = false;
				var index = -1;
				for (var i = 0; i < item.child.length; i++) {
					if(this.contains(this.selectIds,item.child[i].id)){
						flag = true;
					}
					if(this.selectIds[i] == item.id){
						index = i;
					}
				};
				if(!flag){
					this.selectIds.splice(index,1);
				};
			}
		},
		authSubmit:function(){
			if(this.selectIds.length < 1){
				this.showMessage("请授权");
				return false;
			}
			var url =this.formatUrl('auth');
			var formData = {id:this.items[this.choseItem].id,make:"post",'auth':this.selectIds.join(",")};
			var This = this;
			this.$http.post(url,formData,{emulateJSON:true})
			.then(success=>{
					var result = success.body;
		            result = this.formatData(result);
		            if(result.status){
		            	This.items[This.choseItem] = result.data;
		      			This.shadeClose();
		            }else{
		            	This.showMessage(result.message);
		            }
		            
				},
				error=>{});
		},
		loop:function(data,id,index){
	        index++;
	        for (var i = 0; i < data.length; i++) {
	            if(data[i].id == id){
	                this.$set(this.levels,"level_"+index,i);
	                return data[i];
	            }else{
	                if(data[i].child){
	                    var item = this.loop(data[i].child,id,index);
	                    if(item){
	                        this.$set(this.levels,"level_"+index,i);
	                        return item;
	                    }
	                }
	            }    
	        };
	        return null;
	    },

	}
}
</script>
<style scoped>
	.income-ratio-label{margin-right:20px;font-size:14px;}
	.income-ratio-input{display: inline-block;width:120px;margin-left:4px;text-indent:8px;}
</style>