<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
*{margin:0px;padding:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
html{margin:0;height:100%;display:inline;padding:0px;font-size:14px;}
body{margin:0px;padding:0px;height:100%;font-family:"Helvetica Neue",Helvetica,Arial,"PingFang SC","Heiti SC","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif,"Microsoft Yahei";}
#app{margin:0px;height:100%;}
a{text-decoration: none;}
</style>
