<template>
<div class='index-ui'>
    <div class="board">
        <span class='make-controller'>控制面板</span>
    <ul class='board-ul clearfix'>
        <template  v-for="item in list">
            <li class='board-li-item'>
                <i :class="item.cla"></i>
                <router-link :to="item.route" class='link-class'>{{item.name}}</router-link>
            </li>
        </template>
    </ul>
    </div>
</div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {
     list:[],
    }
  },
  mounted:function(){
    var key = "index_list";
    if(this.readStorageItem(key)){
        this.list = JSON.parse(this.readStorageItem(key));
    }else{
        var This =this;
        var url = this.baseHost+"/index/index?access_token="+this.readStorageItem('token');
            this.$http.get(url,{emulateJSON:true})
            .then(
            success=>{
                var result = success.body;
                result = this.formatData(result);
                if(result.status){
                    This.list = result.data;
                    if(This.list.length > 0){
                        This.writeStorageItem(key,JSON.stringify(result.data));
                    } 
                }
            },
            error=>{
            
            });
    }
    
  }
}
</script>

<style scoped>
.board{
    margin:10px auto;
    width:1152px;
    background:#fff;
    box-shadow: 0 2px 5px rgba(15,5,10,0.14);
    padding:20px;
}
.make-controller{line-height:30px;border-bottom:1px solid #e6e6e6;display:block;text-indent:10px;color:1px solid #e6e6e6;}
.board-li-item{width:144px;height:156px;display: inline-block;float:left;}
.board-li-item i{width:88px;height:88px;color:#537aeb; display:block;font-size:62px;text-align:center;line-height:88px;margin:20px auto 0px;}
.link-class{display: block;color:#666;height:24px;line-height:24px;font-size:16px;text-align: center;padding-top:8px;}
.board-li-item .fa-user{color:#3397f5;}
.board-li-item .fa-address-book{color:#6fbb3b}
.board-li-item .fa-calendar{color:#fba62d}
.board-li-item .fa-industry{color:#31bebd}
.board-li-item .fa-money{color:#ff5c4a}
.board-li-item .fa-volume-down{color:#ff7f43}
.board-li-item .fa-heartbeat{color:#f04e3c}
</style>