<template>
<div class='index-ui'>
	<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>
</div>
</template>
<script>
import location from "../templates/location";
export default{
	components:{location},
	data(){
		return {
			topNode:"",
			route:"/system",
			list:[]
		};
	},
	created:function(){
		var prefix = "system";
		var key = prefix+"_list";
			    if(this.readStorageItem(key)){
			    	var node = JSON.parse(this.readStorageItem(key));
			        this.list = node.list;
			        this.topNode = node.topNode;
			    }else{
			        var This =this;
			        var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
			            this.$http.get(url,{emulateJSON:true})
			            .then(
			            success=>{
			                var result = success.body;
			                result = this.formatData(result);
			                if(result.status){
			                    This.list = result.data.list;
			                    This.topNode = result.data.topNode;
			                    if(This.list.length > 0){
	                                This.writeStorageItem(key,JSON.stringify(result.data));
	                            }
			                }
			            },
			            error=>{
			            
			            });
			    }
	},
	mounted:function(){
		
	}
}
</script>