<template>
	<div class='index-ui'>
		<location v-bind:current="topNode" v-bind:list="list" v-bind:route="route"></location>
		<div class="list-table">
		<div class="role-add-btn">
		<template v-for='time in queryForm'>
		<span>{{time.label}}</span>&nbsp;<datetime  v-bind:name="time.name" v-bind:timestamp="timestamp" v-bind:value="time.value" v-on:callInput="callBack"></datetime>&nbsp;&nbsp;
		</template><span @click="searchForm"><i class="fa fa-search"></i></span>
		</div>
			<div class='table-box'>
				<table border="0" width="100%" class='table-main' cellspacing="1px" cellpadding="0">
				    <tr>
					  	<template v-for="field in fields">
					  		<template v-if="field.style">
								<th :style="field.style">{{field.label}}</th>
					  		</template>
					  		<template v-else>
								<th>{{field.label}}</th>
					  		</template>
					    </template>
				    </tr>
				  	<template v-for="item,findex in items">
				  		<tr>
							<template v-for="field in fields">
						  		<template v-if="field.type == 'String'">
								<td v-html="item[field.field]"></td>
						   		</template>
						   		<template v-else-if="field.type == 'Switch'">
									<template v-for="formitem in formFields">
										<template v-if='formitem.name == field.field'>
											<template v-for='opt in formitem.options'>
												<template v-if="opt.value == item[field.field]">
													<td v-html="opt.label"></td>
												</template>
											</template>
										</template>
									</template>
						   		</template>
			
					   		</template>
					
				   		</tr>
				    </template>
				</table>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
import location from "../templates/location";
import datetime from "../templates/LDateTime";
	export default{
			components:{location,datetime},
			data(){
				return {
					topNode:"",
					route:"/tutor-income",
					list:[],
					fields:[],
					items:[],
					timestamp:false,
					items:[],
						queryForm:[
						{
						label:"开始时间",
						name:"start_time",
						value:""
						},
						{
						label:"结束时间",
						name:"end_time",
						value:"",
						}
					],
					queryData:{
						start_time:"",
						end_time:""
					}
				}
			},
			created:function(){
			 	var prefix = "income";
		    	var key = prefix+"_list";
		        if(this.readStorageItem(key)){
		            var node = JSON.parse(this.readStorageItem(key));
		            this.list = node.list;
		            this.topNode = node.topNode;
		        }else{
		            var This =this;
		            var url = this.baseHost+"/index/auth-node?access_token="+this.readStorageItem('token')+"&node="+prefix;
		            this.$http.get(url,{emulateJSON:true})
		                .then(
		                    success=>{
		                        var result = success.body;
		                        result = this.formatData(result);
		                        if(result.status){
		                            This.list = result.data.list;
		                            This.topNode = result.data.topNode;
		                            if(This.list.length > 0){
		                                This.writeStorageItem(key,JSON.stringify(result.data));
		                            }
		                        }
		                    },
		                    error=>{});
		        }
		  	},
			mounted:function(){
				var This =this;
			    var url = this.baseHost+"/tutor-income/index?access_token="+this.readStorageItem('token');
			        this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.items;
			                This.fields = result.data.fields;
			            }
			        },
			        error=>{
			        
			        });
			},
			methods:{
				callBack:function(event){
					this.queryData[event.field] = event.value;
				},
				searchForm:function(){
					var This =this;
			    	var url = this.baseHost+"/tutor-income/index?access_token="+this.readStorageItem('token');
			        this.$http.post(url,this.queryData,{emulateJSON:true})
			        .then(
			        success=>{
			            var result = success.body;
			            result = this.formatData(result);
			            if(result.status){
			                This.items =result.data.items;
			                This.fields = result.data.fields;
			            }
			        },
			        error=>{
			        
			        });
				}
			}
	}

</script>
